ver0.0.1a/Profiles/ADS_OMS.part100-ed2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:m="http://pea.co.th/cim/profile/ADS_OMS#"
           xmlns:part100="http://iec.ch/TC57/2021/schema/message"
           xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pea.co.th/cim/profile/ADS_OMS#"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation/>
   <xs:import namespace="http://iec.ch/TC57/2021/schema/message"
              schemaLocation="AbstractPayloadType.xsd"/>
   <xs:element name="ADS_OMS_Profile"
               type="m:ADS_OMS_Profile"
               substitutionGroup="part100:AbstractPayload"/>
   <xs:complexType name="ADS_OMS_Profile">
      <xs:complexContent>
         <xs:extension base="part100:AbstractPayloadType">
            <xs:sequence>
               <xs:element name="Asset" type="m:Asset" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="AcceptanceTest"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#AcceptanceTest">
      <xs:annotation>
         <xs:documentation>Acceptance test for assets.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="dateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#AcceptanceTest.dateTime">
            <xs:annotation>
               <xs:documentation>Date and time the asset was last tested using the 'type' of test and yielding the current status in 'success' attribute.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="success"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#AcceptanceTest.success">
            <xs:annotation>
               <xs:documentation>True if asset has passed acceptance test and may be placed in or is in service. It is set to false if asset is removed from service and is required to be tested again before being placed back in service, possibly in a new location. Since asset may go through multiple tests during its lifecycle, the date of each acceptance test may be recorded in 'Asset.ActivityRecord.status.dateTime'.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#AcceptanceTest.type">
            <xs:annotation>
               <xs:documentation>Type of test or group of tests that was conducted on 'dateTime'.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ActivityRecord"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord">
      <xs:annotation>
         <xs:documentation>Records activity for an entity at a point in time; activity may be for an event that has already occurred or for a planned activity.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="createdDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.createdDateTime">
            <xs:annotation>
               <xs:documentation>Date and time this activity record has been created (different from the 'status.dateTime', which is the time of a status change of the associated object, if applicable).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="reason"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.reason">
            <xs:annotation>
               <xs:documentation>Reason for event resulting in this activity record, typically supplied when user initiated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="severity"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.severity">
            <xs:annotation>
               <xs:documentation>Severity level of event resulting in this activity record.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.type">
            <xs:annotation>
               <xs:documentation>Type of event resulting in this activity record.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Analytic"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#Analytic">
      <xs:annotation>
         <xs:documentation>An algorithm or calculation for making an assessment about an asset or asset grouping for lifecycle decision making.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="bestValue"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:float"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Analytic.bestValue">
            <xs:annotation>
               <xs:documentation>Value that indicates best possible numeric value.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kind"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:AnalyticKind"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Analytic.kind">
            <xs:annotation>
               <xs:documentation>Kind of analytic this analytic is.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="scaleKind"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Analytic.scaleKind">
            <xs:annotation>
               <xs:documentation>The scoring scale kind.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="worstValue"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:float"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Analytic.worstValue">
            <xs:annotation>
               <xs:documentation>Value that indicates worst possible numeric value.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="AnalyticKind"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#AnalyticKind">
      <xs:annotation>
         <xs:documentation>Possible kinds of analytics.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="agingAnalytic">
            <xs:annotation>
               <xs:documentation>Analytic evaluates aging.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="faultAnalytic">
            <xs:annotation>
               <xs:documentation>Analytic evaluates fault.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="healthAnalytic">
            <xs:annotation>
               <xs:documentation>Analytic evaluates asset health.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="other">
            <xs:annotation>
               <xs:documentation>Analytic evaluates other factor.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="replacementAnalytic">
            <xs:annotation>
               <xs:documentation>Analytic evaluates need for replacement.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="riskAnalytic">
            <xs:annotation>
               <xs:documentation>Analytic evaluates risk.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="AnalyticScore"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#AnalyticScore">
      <xs:annotation>
         <xs:documentation>An indicative scoring by an analytic that can be used to characterize the health of or the risk associated with one or more assets.  The analytic score reflects the results of an execution of an analytic against an asset or group of assets.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="calculationDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#AnalyticScore.calculationDateTime">
            <xs:annotation>
               <xs:documentation>Timestamp of when the score was calculated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="effectiveDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#AnalyticScore.effectiveDateTime">
            <xs:annotation>
               <xs:documentation>Date-time for when the score applies.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="value"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:float"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#AnalyticScore.value">
            <xs:annotation>
               <xs:documentation>Asset health score value.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Asset" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset">
      <xs:annotation>
         <xs:documentation>Tangible resource of the utility, including power system equipment, various end devices, cabinets, buildings, etc. For electrical network equipment, the role of the asset is defined through PowerSystemResource and its subclasses, defined mainly in the Wires model (refer to IEC61970-301 and model package IEC61970::Wires). Asset description places emphasis on the physical characteristics of the equipment fulfilling that role.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="critical"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.critical">
            <xs:annotation>
               <xs:documentation>True if asset is considered critical for some reason (for example, a pole with critical attachments).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="initialCondition"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.initialCondition">
            <xs:annotation>
               <xs:documentation>Condition of asset at last baseline. Examples include new, rebuilt, overhaul required, other. Refer to inspection data for information on the most current condition of the asset.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="initialLossOfLife"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:PerCent"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.initialLossOfLife">
            <xs:annotation>
               <xs:documentation>Percentage of initial life expectancy that has been lost as of the last life expectancy baseline. Represents</xs:documentation>
               <xs:documentation>(initial life expectancy - current life expectancy) / initial life expectancy.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="inUseState"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.inUseState">
            <xs:annotation>
               <xs:documentation>Indication of whether asset is currently deployed (in use), ready to be put into use or not available for use.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="kind"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:AssetKind"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.kind">
            <xs:annotation>
               <xs:documentation>Kind of asset. Used in description of asset components in asset instance templates.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="lifecycleState"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:AssetLifecycleStateKind"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.lifecycleState">
            <xs:annotation>
               <xs:documentation>Current lifecycle state of asset.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="lotNumber"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.lotNumber">
            <xs:annotation>
               <xs:documentation>Lot number for this asset. Even for the same model and version number, many assets are manufactured in lots.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="position"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.position">
            <xs:annotation>
               <xs:documentation>Position of asset or asset component. May often be in relation to other assets or components.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="purchasePrice"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Money"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.purchasePrice">
            <xs:annotation>
               <xs:documentation>Purchase price of asset.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="retiredReason"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.retiredReason">
            <xs:annotation>
               <xs:documentation>Reason asset retired.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="serialNumber"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.serialNumber">
            <xs:annotation>
               <xs:documentation>Serial number of this asset.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.type">
            <xs:annotation>
               <xs:documentation>Utility-specific classification of Asset and its subtypes, according to their corporate standards, practices, and existing IT systems (e.g., for management of assets, maintenance, work, outage, customers, etc.).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="utcNumber"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.utcNumber">
            <xs:annotation>
               <xs:documentation>Uniquely tracked commodity (UTC) number.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="acceptanceTest"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:AcceptanceTest"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.acceptanceTest">
            <xs:annotation>
               <xs:documentation>Information on acceptance test.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ActivityRecords"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:ActivityRecord"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.ActivityRecords">
            <xs:annotation>
               <xs:documentation>All activity records created for this asset.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Analytic"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:Analytic"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.Analytic">
            <xs:annotation>
               <xs:documentation>Analytic performed on this asset.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AnalyticScore"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:AnalyticScore"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.AnalyticScore">
            <xs:annotation>
               <xs:documentation>Analytic result related to this asset.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="electronicAddress"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:ElectronicAddress"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.electronicAddress">
            <xs:annotation>
               <xs:documentation>Electronic address.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ErpInventory"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:ErpInventory"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.ErpInventory">
            <xs:annotation/>
         </xs:element>
         <xs:element name="ErpItemMaster"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.ErpItemMaster">
            <xs:annotation/>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="inUseDate"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:InUseDate"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.inUseDate">
            <xs:annotation>
               <xs:documentation>In use dates for this asset.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="lifecycleDate"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:LifecycleDate"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.lifecycleDate">
            <xs:annotation>
               <xs:documentation>&lt;was lifecycle&gt;</xs:documentation>
               <xs:documentation>Lifecycle dates for this asset.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Location"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Location"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.Location">
            <xs:annotation>
               <xs:documentation>Location of this asset.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PowerSystemResources"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:PowerSystemResource"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.PowerSystemResources">
            <xs:annotation>
               <xs:documentation>All power system resources used to electrically model this asset. For example, transformer asset is electrically modelled with a transformer and its windings and tap changer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.status">
            <xs:annotation>
               <xs:documentation>Status of this asset.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="AssetKind"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#AssetKind">
      <xs:annotation>
         <xs:documentation>Kinds of assets or asset components.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="breakerAirBlastBreaker">
            <xs:annotation>
               <xs:documentation>Air blast circuit breaker.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="breakerBulkOilBreaker">
            <xs:annotation>
               <xs:documentation>Bulk oil circuit breaker.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="breakerInsulatingStackAssembly">
            <xs:annotation>
               <xs:documentation>Breaker insulating stack assembly (for live tank breaker).</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="breakerMinimumOilBreaker">
            <xs:annotation>
               <xs:documentation>Minimum oil circuit breaker.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="breakerSF6DeadTankBreaker">
            <xs:annotation>
               <xs:documentation>SF6 dead tank breaker.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="breakerSF6LiveTankBreaker">
            <xs:annotation>
               <xs:documentation>SF6 live tank breaker.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="breakerTankAssembly">
            <xs:annotation>
               <xs:documentation>Breaker tank assembly.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="other">
            <xs:annotation>
               <xs:documentation>Other type of Asset. The type attribute may provide more details in this case.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="transformer">
            <xs:annotation>
               <xs:documentation>Transformer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="transformerTank">
            <xs:annotation>
               <xs:documentation>Transformer tank.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AssetLifecycleStateKind"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#AssetLifecycleStateKind">
      <xs:annotation>
         <xs:documentation>Lifecycle states an asset can be in.</xs:documentation>
         <xs:documentation>While the possible lifecycle states are standardized, the allowed transitions are not - they are intended to be defined by the business process requirements of local implementations.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="disposedOf">
            <xs:annotation>
               <xs:documentation>Asset disposed of.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="manufactured">
            <xs:annotation>
               <xs:documentation>Asset manufactured.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="purchased">
            <xs:annotation>
               <xs:documentation>Asset purchased.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="received">
            <xs:annotation>
               <xs:documentation>Asset received.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="retired">
            <xs:annotation>
               <xs:documentation>Asset retired.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="ElectronicAddress"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#ElectronicAddress">
      <xs:annotation>
         <xs:documentation>Electronic address information.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="email1"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ElectronicAddress.email1">
            <xs:annotation>
               <xs:documentation>Primary email address.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ErpInventory"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#ErpInventory">
      <xs:annotation>
         <xs:documentation>Utility inventory-related information about an item or part (and not for description of the item and its attributes). It is used by ERP applications to enable the synchronization of Inventory data that exists on separate Item Master databases. This data is not the master data that describes the attributes of the item such as dimensions, weight, or unit of measure - it describes the item as it exists at a specific location.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="status"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Status"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ErpInventory.status">
            <xs:annotation/>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ErpItemMaster"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#ErpItemMaster">
      <xs:annotation>
         <xs:documentation>Any unique purchased part for manufactured product tracked by ERP systems for a utility.</xs:documentation>
         <xs:documentation>Item, as used by the OAG, refers to the basic information about an item, including its attributes, cost, and locations. It does not include item quantities. Compare to the Inventory, which includes all quantities and other location-specific information.</xs:documentation>
      </xs:annotation>
      <xs:sequence/>
   </xs:complexType>
   <xs:complexType name="InUseDate"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#InUseDate">
      <xs:annotation>
         <xs:documentation>Dates associated with asset 'in use' status. May have multiple in use dates for this device and a compound type allows a query to return multiple dates.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="inUseDate"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:date"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#InUseDate.inUseDate">
            <xs:annotation>
               <xs:documentation>Date asset was most recently put in use.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="readyForUseDate"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:date"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#InUseDate.readyForUseDate">
            <xs:annotation>
               <xs:documentation>Date of most recent asset transition to ready for use state.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="LifecycleDate"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#LifecycleDate">
      <xs:annotation>
         <xs:documentation>Dates for asset lifecycle state changes. May have multiple lifecycle dates for this device and a compound type allows a query to return multiple dates.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="installationDate"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:date"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#LifecycleDate.installationDate">
            <xs:annotation>
               <xs:documentation>Date current installation was completed, which may not be the same as the in-service date. Asset may have been installed at other locations previously. Ignored if asset is (1) not currently installed (e.g., stored in a depot) or (2) not intended to be installed (e.g., vehicle, tool).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="manufacturedDate"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:date"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#LifecycleDate.manufacturedDate">
            <xs:annotation>
               <xs:documentation>Date the asset was manufactured.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="purchaseDate"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:date"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#LifecycleDate.purchaseDate">
            <xs:annotation>
               <xs:documentation>Date the asset was purchased. Note that even though an asset may have been purchased, it may not have been received into inventory at the time of purchase.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="receivedDate"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:date"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#LifecycleDate.receivedDate">
            <xs:annotation>
               <xs:documentation>Date the asset was received and first placed into inventory.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="removalDate"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:date"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#LifecycleDate.removalDate">
            <xs:annotation>
               <xs:documentation>Date when the asset was last removed from service. Ignored if (1) not intended to be in service, or (2) currently in service.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="retiredDate"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:date"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#LifecycleDate.retiredDate">
            <xs:annotation>
               <xs:documentation>Date the asset is permanently retired from service and may be scheduled for disposal. Ignored if asset is (1) currently in service, or (2) permanently removed from service.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Location"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#Location">
      <xs:annotation>
         <xs:documentation>The place, scene, or point of something where someone or something has been, is, and/or will be at a given moment in time. It can be defined with one or more position points (coordinates) in a given coordinate system.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="direction"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Location.direction">
            <xs:annotation>
               <xs:documentation>(if applicable) Direction that allows field crews to quickly find a given asset. For a given location, such as a street address, this is the relative direction in which to find the asset. For example, a streetlight may be located at the 'NW' (northwest) corner of the customer's site, or a usage point may be located on the second floor of an apartment building.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geoInfoReference"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Location.geoInfoReference">
            <xs:annotation>
               <xs:documentation>(if applicable) Reference to geographical information source, often external to the utility.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Location.type">
            <xs:annotation>
               <xs:documentation>Classification by utility's corporate standards and practices, relative to the location itself (e.g., geographical, functional accounting, etc., not a given property that happens to exist at that location).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CoordinateSystem"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Location.CoordinateSystem">
            <xs:annotation>
               <xs:documentation>Coordinate system used to describe position points of this location.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="PositionPoints"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Location.PositionPoints">
            <xs:annotation>
               <xs:documentation>Sequence of position points describing this location, expressed in coordinate system 'Location.CoordinateSystem'.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PowerSystemResource"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#PowerSystemResource">
      <xs:annotation>
         <xs:documentation>A power system resource (PSR) can be an item of equipment such as a switch, an equipment container containing many individual items of equipment such as a substation, or an organisational entity such as sub-control area. Power system resources can have measurements associated.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Location"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Location"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#PowerSystemResource.Location">
            <xs:annotation>
               <xs:documentation>Location of this power system resource.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Status" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status">
      <xs:annotation>
         <xs:documentation>Current status information relevant to an entity.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="dateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status.dateTime">
            <xs:annotation>
               <xs:documentation>Date and time for which status 'value' applies.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="reason"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status.reason">
            <xs:annotation>
               <xs:documentation>Reason code or explanation for why an object went to the current status 'value'.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="remark"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status.remark">
            <xs:annotation>
               <xs:documentation>Pertinent information regarding the current 'value', as free form text.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="value"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status.value">
            <xs:annotation>
               <xs:documentation>Status value at 'dateTime'; prior status changes may have been kept in instances of activity records associated with the object to which this status applies.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="PerCent"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#PerCent">
      <xs:annotation>
         <xs:documentation>Percentage on a defined base.   For example, specify as 100 to indicate at the defined base.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:float"/>
   </xs:simpleType>
   <xs:simpleType name="Money" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Money">
      <xs:annotation>
         <xs:documentation>Amount of money.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:decimal"/>
   </xs:simpleType>
</xs:schema>
