ver0.0.1a/Profiles/CA_OMS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:m="http://pea.co.th/cim/profile/CA_OMS#"
           xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pea.co.th/cim/profile/CA_OMS#"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation/>
   <xs:element name="CA-OMS-Profile" type="m:CA-OMS-Profile"/>
   <xs:complexType name="CA-OMS-Profile">
      <xs:sequence>
         <xs:element name="Customer"
                     type="m:Customer"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="CustomerAccount"
                     type="m:CustomerAccount"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AccountNotification"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#AccountNotification">
      <xs:annotation>
         <xs:documentation>Notifications for move-in, move-out, delinquencies, etc.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="customerNotificationType"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#AccountNotification.customerNotificationType">
            <xs:annotation>
               <xs:documentation>Notifications for move-in, move-out, delinquencies, planned outage, demand response programs, time of use, etc.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="methodType"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#AccountNotification.methodType">
            <xs:annotation>
               <xs:documentation>method of notification such as phone call, email, letter, door hanger, text message, etc.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="note"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#AccountNotification.note">
            <xs:annotation>
               <xs:documentation>Free form text characterizing the notification.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="time"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#AccountNotification.time">
            <xs:annotation>
               <xs:documentation>Time of notification - this is the time the notification was sent.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomerAccount"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:CustomerAccount"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#AccountNotification.CustomerAccount">
            <xs:annotation>
               <xs:documentation>The customer account for which a notification is made</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="BillMediaKind"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#BillMediaKind">
      <xs:annotation>
         <xs:documentation>Kind of bill media.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="electronic">
            <xs:annotation/>
         </xs:enumeration>
         <xs:enumeration value="other">
            <xs:annotation/>
         </xs:enumeration>
         <xs:enumeration value="paper">
            <xs:annotation/>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="Customer"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer">
      <xs:annotation>
         <xs:documentation>Organisation receiving services from service supplier.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="kind"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:CustomerKind"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer.kind">
            <xs:annotation>
               <xs:documentation>Kind of customer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="locale"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer.locale">
            <xs:annotation>
               <xs:documentation>Locale designating language to use in communications with this customer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="specialNeed"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer.specialNeed">
            <xs:annotation>
               <xs:documentation>True if customer organisation has special service needs such as life support, hospitals, etc.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="vip"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer.vip">
            <xs:annotation>
               <xs:documentation>(deprecated) (use 'priority' instead) True if this is an important customer. Importance is for matters different than those in 'specialNeed' attribute.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomerAccounts"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:CustomerAccount"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer.CustomerAccounts">
            <xs:annotation>
               <xs:documentation>All accounts of this customer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Person"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer.Person">
            <xs:annotation>
               <xs:documentation>The person representing the customer</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="priority"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer.priority">
            <xs:annotation>
               <xs:documentation>Priority of the customer.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="status"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer.status">
            <xs:annotation>
               <xs:documentation>Status of this customer.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="TroubleTickets"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:TroubleTicket"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer.TroubleTickets">
            <xs:annotation>
               <xs:documentation>All trouble tickets for this customer.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CustomerAccount"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAccount">
      <xs:annotation>
         <xs:documentation>Assignment of a group of products and services purchased by the customer through a customer agreement, used as a mechanism for customer billing and payment. It contains common information from the various types of customer agreements to create billings (invoices) for a customer and receive payment.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="billingCycle"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAccount.billingCycle">
            <xs:annotation>
               <xs:documentation>Cycle day on which the associated customer account will normally be billed, used to determine when to produce the billing.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="budgetBill"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAccount.budgetBill">
            <xs:annotation>
               <xs:documentation>Budget bill code.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="lastBillAmount"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Money"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAccount.lastBillAmount">
            <xs:annotation>
               <xs:documentation>The last amount that will be billed to the customer prior to shut off of the account.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice minOccurs="1"
                    maxOccurs="unbounded"
                    sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAccount.AccountNotification">
            <xs:annotation>
               <xs:documentation>The notification for the customer account.</xs:documentation>
            </xs:annotation>
            <xs:element name="AccountNotification"
                        minOccurs="1"
                        maxOccurs="1"
                        type="m:AccountNotification"
                        sawsdl:modelReference="">
               <xs:annotation/>
            </xs:element>
            <xs:element name="AccountNotification"
                        minOccurs="1"
                        maxOccurs="1"
                        type="m:AccountNotification"
                        sawsdl:modelReference="">
               <xs:annotation/>
            </xs:element>
         </xs:choice>
         <xs:element name="CustomerAgreements"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:CustomerAgreement"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAccount.CustomerAgreements">
            <xs:annotation>
               <xs:documentation>All agreements for this customer account.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomerBillingInfos"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:CustomerBillingInfo"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAccount.CustomerBillingInfos">
            <xs:annotation/>
         </xs:element>
         <xs:element name="ErpInvoicees"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:ErpInvoice"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAccount.ErpInvoicees">
            <xs:annotation/>
         </xs:element>
         <xs:element name="MeterReadSchedule"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:MeterReadSchedule"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAccount.MeterReadSchedule">
            <xs:annotation>
               <xs:documentation>Meter read schedule that applies to the customer account</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CustomerAgreement"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAgreement">
      <xs:annotation>
         <xs:documentation>Agreement between the customer and the service supplier to pay for service at a specific service location. It records certain billing information about the type of service provided at the service location and is used during charge creation to determine the type of service.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="isPrePay"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAgreement.isPrePay">
            <xs:annotation>
               <xs:documentation>If true, the customer is a pre-pay customer for the specified service.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="loadMgmt"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAgreement.loadMgmt">
            <xs:annotation>
               <xs:documentation>Load management code.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="shutOffDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAgreement.shutOffDateTime">
            <xs:annotation>
               <xs:documentation>Final date and time the service will be billed to the previous customer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomerAccount"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:CustomerAccount"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAgreement.CustomerAccount">
            <xs:annotation>
               <xs:documentation>Customer account owning this agreement.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="MeterReadSchedule"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:MeterReadSchedule"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAgreement.MeterReadSchedule">
            <xs:annotation>
               <xs:documentation>Meter read schedule that applies to the customer agreement</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PricingStructures"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:PricingStructure"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAgreement.PricingStructures">
            <xs:annotation>
               <xs:documentation>All pricing structures applicable to this customer agreement.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UsagePoints"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:UsagePoint"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAgreement.UsagePoints">
            <xs:annotation>
               <xs:documentation>All service delivery points regulated by this customer agreement.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CustomerBillingInfo"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerBillingInfo">
      <xs:annotation>
         <xs:documentation>The creation of the monthly customer billing statements is the method employed to notify Customers of charges, adjustments and credits applied to their account for Services and Products. The actuall billing occurs through an ErpInvoice. The CustomerBillingInfo includes information from the payment, collection, meter reading, installed meter, service, site, customer, customer account, customer agreement, services and pricing subject areas. Each component price shows up as a separate line item on the ErpInvoice.</xs:documentation>
         <xs:documentation>The Customer Billing Statement may include collection and account messages, marketing/civic event messages and bill inserts.</xs:documentation>
         <xs:documentation>One Customer Billing Statement is produced for all Agreements under a CustomerAccount per billing cycle date defined in 'CustomerAccount.billingCycle'.</xs:documentation>
         <xs:documentation>The history of CustomerBillingInfo, Invoices and Payments is to be maintained in associated ActivityRecords.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="billingDate"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:date"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerBillingInfo.billingDate">
            <xs:annotation>
               <xs:documentation>Business date designated for the billing run which produced this CustomerBillingInfo.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="comment"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.comment">
            <xs:annotation>
               <xs:documentation>Free text comment.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="dueDate"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:date"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerBillingInfo.dueDate">
            <xs:annotation>
               <xs:documentation>Calculated date upon which a customer billing amount is due, used in the invoicing process to determine when a Customer's Payment is delinquent. It takes into consideration the regulatory criteria and the Customer's requested due date. In the absence of a Customer requested due date, the due date is typically calculated from the regulated number of days and the 'billingDate'.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kind"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerBillingInfo.kind">
            <xs:annotation>
               <xs:documentation>Kind of bill customer receives.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
            <xs:annotation>
               <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="CustomerKind"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerKind">
      <xs:annotation>
         <xs:documentation>Kind of customer.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="commercialIndustrial">
            <xs:annotation>
               <xs:documentation>Commercial industrial customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="energyServiceScheduler">
            <xs:annotation>
               <xs:documentation>Customer as energy service scheduler.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="energyServiceSupplier">
            <xs:annotation>
               <xs:documentation>Customer as energy service supplier.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="enterprise">
            <xs:annotation>
               <xs:documentation>Enterprise customer</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="internalUse">
            <xs:annotation>
               <xs:documentation>Internal use customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="other">
            <xs:annotation>
               <xs:documentation>Other kind of customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="pumpingLoad">
            <xs:annotation>
               <xs:documentation>Pumping load customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="regionalOperator">
            <xs:annotation>
               <xs:documentation>Regional Operator customer</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="residential">
            <xs:annotation>
               <xs:documentation>Residential customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="residentialAndCommercial">
            <xs:annotation>
               <xs:documentation>Residential and commercial customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="residentialAndStreetlight">
            <xs:annotation>
               <xs:documentation>Residential and streetlight customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="residentialFarmService">
            <xs:annotation>
               <xs:documentation>Residential farm service customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="residentialStreetlightOthers">
            <xs:annotation>
               <xs:documentation>Residential streetlight or other related customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="subsidiary">
            <xs:annotation>
               <xs:documentation>Subsidiary customer</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="windMachine">
            <xs:annotation>
               <xs:documentation>Wind machine customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="DERFunction"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#DERFunction">
      <xs:annotation>
         <xs:documentation>Specifies the list of functions that are supported.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="connectDisconnect"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#DERFunction.connectDisconnect">
            <xs:annotation>
               <xs:documentation>If set to TRUE, the connect/disconnect function is supported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="maxRealPowerLimiting"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#DERFunction.maxRealPowerLimiting">
            <xs:annotation>
               <xs:documentation>If set to TRUE, the maxRealPowerLimiting function is supported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="realPowerDispatch"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#DERFunction.realPowerDispatch">
            <xs:annotation>
               <xs:documentation>If set to TRUE, the realPowerDispatch function is supported.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ElectronicAddress"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#ElectronicAddress">
      <xs:annotation>
         <xs:documentation>Electronic address information.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="email1"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ElectronicAddress.email1">
            <xs:annotation>
               <xs:documentation>Primary email address.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EndDevice"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDevice">
      <xs:annotation>
         <xs:documentation>Asset container that performs one or more end device functions. One type of end device is a meter which can perform metering, load management, connect/disconnect, accounting functions, etc. Some end devices, such as ones monitoring and controlling air conditioners, refrigerators, pool pumps may be connected to a meter. All end devices may have communication capability defined by the associated communication function(s). An end device may be owned by a consumer, a service provider, utility or otherwise.</xs:documentation>
         <xs:documentation>There may be a related end device function that identifies a sensor or control point within a metering application or communications systems (e.g., water, gas, electricity).</xs:documentation>
         <xs:documentation>Some devices may use an optical port that conforms to the ANSI C12.18 standard for communications.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="amrSystem"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDevice.amrSystem">
            <xs:annotation>
               <xs:documentation>Automated meter reading (AMR) or other communication system responsible for communications to this end device.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="connectionCategory"
                     minOccurs="0"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Meter.connectionCategory">
            <xs:annotation>
               <xs:documentation>A code used to specify the connection category, e.g. low voltage, where the meter operates.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="formNumber"
                     minOccurs="0"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Meter.formNumber">
            <xs:annotation>
               <xs:documentation>Meter form designation per ANSI C12.10 or other applicable standard. An alphanumeric designation denoting the circuit arrangement for which the meter is applicable and its specific terminal arrangement.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="installCode"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDevice.installCode">
            <xs:annotation>
               <xs:documentation>Installation code.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UsagePoint"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDevice.UsagePoint">
            <xs:annotation>
               <xs:documentation>Usage point to which this end device belongs.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EndDeviceGroup"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceGroup">
      <xs:annotation>
         <xs:documentation>Abstraction for management of group communications within a two-way AMR system or the data for a group of related end devices. Commands can be issued to all of the end devices that belong to the group using a defined group address and the underlying AMR communication infrastructure. A DERGroup and a PANDeviceGroup is an EndDeviceGroup.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="type"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceGroup.type">
            <xs:annotation>
               <xs:documentation>Type of this group.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DER Function"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:DERFunction"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceGroup.DER_Function">
            <xs:annotation>
               <xs:documentation>The DER functions that are applied to the DER Group.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EndDevices"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:EndDevice"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceGroup.EndDevices">
            <xs:annotation>
               <xs:documentation>All end devices this end device group refers to.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ErpInvoice"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#ErpInvoice">
      <xs:annotation>
         <xs:documentation>A roll up of invoice line items. The whole invoice has a due date and amount to be paid, with information such as customer, banks etc. being obtained through associations. The invoice roll up is based on individual line items that each contain amounts and descriptions for specific services or products.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="amount"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Money"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ErpInvoice.amount">
            <xs:annotation>
               <xs:documentation>Total amount due on this invoice based on line items and applicable adjustments.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="billMediaKind"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:BillMediaKind"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ErpInvoice.billMediaKind">
            <xs:annotation>
               <xs:documentation>Kind of media by which the CustomerBillingInfo was delivered.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="comment"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.comment">
            <xs:annotation>
               <xs:documentation>Free text comment.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="createdDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.createdDateTime">
            <xs:annotation>
               <xs:documentation>Date and time that this document was created.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
            <xs:annotation>
               <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="dueDate"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:date"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ErpInvoice.dueDate">
            <xs:annotation>
               <xs:documentation>Calculated date upon which the Invoice amount is due.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kind"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ErpInvoice.kind">
            <xs:annotation>
               <xs:documentation>Kind of invoice (default is 'sales').</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="lastModifiedDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.lastModifiedDateTime">
            <xs:annotation>
               <xs:documentation>Date and time this document was last modified. Documents may potentially be modified many times during their lifetime.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="subject"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.subject">
            <xs:annotation>
               <xs:documentation>Document subject.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ErpInvoiceLineItems"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ErpInvoice.ErpInvoiceLineItems">
            <xs:annotation/>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Incident"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#Incident">
      <xs:annotation>
         <xs:documentation>Description of a problem in the field that may be reported in a trouble ticket or come from another source. It may have to do with an outage.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aliasName"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.aliasName">
            <xs:annotation>
               <xs:documentation>The aliasName is free text human readable name of the object alternative to IdentifiedObject.name. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
               <xs:documentation>The attribute aliasName is retained because of backwards compatibility between CIM relases. It is however recommended to replace aliasName with the Name class as aliasName is planned for retirement at a future time.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="cause"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Incident.cause">
            <xs:annotation>
               <xs:documentation>Cause of this incident.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="createdDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.createdDateTime">
            <xs:annotation>
               <xs:documentation>Date and time that this document was created.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
            <xs:annotation>
               <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="lastModifiedDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.lastModifiedDateTime">
            <xs:annotation>
               <xs:documentation>Date and time this document was last modified. Documents may potentially be modified many times during their lifetime.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
            <xs:annotation>
               <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="title"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.title">
            <xs:annotation>
               <xs:documentation>Document title.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.type">
            <xs:annotation>
               <xs:documentation>Utility-specific classification of this document, according to its corporate standards, practices, and existing IT systems (e.g., for management of assets, maintenance, work, outage, customers, etc.).</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="IncidentHazard"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#IncidentHazard">
      <xs:annotation>
         <xs:documentation>Hazardous situation associated with an incident. Examples are line down, gas leak, fire, etc.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
            <xs:annotation>
               <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
            <xs:annotation>
               <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Hazard.type">
            <xs:annotation>
               <xs:documentation>Type of this hazard.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MeterReadSchedule"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#MeterReadSchedule">
      <xs:annotation/>
      <xs:sequence>
         <xs:element name="comment"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.comment">
            <xs:annotation>
               <xs:documentation>Free text comment.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="createdDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.createdDateTime">
            <xs:annotation>
               <xs:documentation>Date and time that this document was created.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="lastModifiedDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.lastModifiedDateTime">
            <xs:annotation>
               <xs:documentation>Date and time this document was last modified. Documents may potentially be modified many times during their lifetime.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="subject"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.subject">
            <xs:annotation>
               <xs:documentation>Document subject.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="title"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.title">
            <xs:annotation>
               <xs:documentation>Document title.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EndDevice"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:EndDevice"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#MeterReadSchedule.EndDevice">
            <xs:annotation>
               <xs:documentation>All end devices for the meter read schedule.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EndDeviceGroup"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:EndDeviceGroup"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#MeterReadSchedule.EndDeviceGroup">
            <xs:annotation>
               <xs:documentation>All end device groups for the meter read schedule.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TimeSchedule"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:TimeSchedule"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#MeterReadSchedule.TimeSchedule">
            <xs:annotation>
               <xs:documentation>All time schedules for the meter read schedule.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UsagePoint"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:UsagePoint"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#MeterReadSchedule.UsagePoint">
            <xs:annotation>
               <xs:documentation>All usage points for the meter read schedule.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PricingStructure"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#PricingStructure">
      <xs:annotation>
         <xs:documentation>Grouping of pricing components and prices used in the creation of customer charges and the eligibility criteria under which these terms may be offered to a customer. The reasons for grouping include state, customer classification, site characteristics, classification (i.e. fee price structure, deposit price structure, electric service price structure, etc.) and accounting requirements.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="comment"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.comment">
            <xs:annotation>
               <xs:documentation>Free text comment.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="createdDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.createdDateTime">
            <xs:annotation>
               <xs:documentation>Date and time that this document was created.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="lastModifiedDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.lastModifiedDateTime">
            <xs:annotation>
               <xs:documentation>Date and time this document was last modified. Documents may potentially be modified many times during their lifetime.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="title"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.title">
            <xs:annotation>
               <xs:documentation>Document title.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TimeSchedule"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#TimeSchedule">
      <xs:annotation>
         <xs:documentation>Description of anything that changes through time. Time schedule is used to perform a single-valued function of time. Use inherited 'type' attribute to give additional information on this schedule, such as: periodic (hourly, daily, weekly, monthly, etc.), day of the month, by date, calendar (specific times and dates).</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="comment"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.comment">
            <xs:annotation>
               <xs:documentation>Free text comment.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="createdDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.createdDateTime">
            <xs:annotation>
               <xs:documentation>Date and time that this document was created.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TroubleOrder"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleOrder">
      <xs:annotation>
         <xs:documentation>Trouble order sends an incident to a crew to initiate a response to an unplanned outage.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="comment"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.comment">
            <xs:annotation>
               <xs:documentation>Free text comment.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="comment"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleOrder.comment">
            <xs:annotation>
               <xs:documentation>Free-form comment associated with the trouble order.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="createdDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.createdDateTime">
            <xs:annotation>
               <xs:documentation>Date and time that this document was created.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
            <xs:annotation>
               <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="electronicAddress"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:ElectronicAddress"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.electronicAddress">
            <xs:annotation>
               <xs:documentation>Electronic address.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Incident"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleOrder.Incident">
            <xs:annotation>
               <xs:documentation>The incident that may be associated with the trouble order.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="Issuer"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.Issuer">
            <xs:annotation>
               <xs:documentation>Issuer of this document.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="Location"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleOrder.Location">
            <xs:annotation>
               <xs:documentation>The location of this trouble order</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="plannedExecutionInterval"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleOrder.plannedExecutionInterval">
            <xs:annotation>
               <xs:documentation>The planned start and end time for the trouble order.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="status"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.status">
            <xs:annotation>
               <xs:documentation>Status of subject matter (e.g., Agreement, Work) this document represents. For status of the document itself, use 'docStatus' attribute.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="TroubleTicket"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:TroubleTicket"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleOrder.TroubleTicket">
            <xs:annotation>
               <xs:documentation>The ticket called in by the customer that describes the trouble</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UnplannedOutage"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleOrder.UnplannedOutage">
            <xs:annotation>
               <xs:documentation>The unplanned outage that is associated to the Trouble Order.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="WorkTask"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleOrder.WorkTask">
            <xs:annotation>
               <xs:documentation>The work tasks that are associated with this trouble order.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TroubleTicket"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket">
      <xs:annotation/>
      <xs:sequence>
         <xs:element name="comment"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.comment">
            <xs:annotation>
               <xs:documentation>Free-form comment associated with the trouble call for example, "customer reported a large flash", etc.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="dateTimeOfReport"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.dateTimeOfReport">
            <xs:annotation>
               <xs:documentation>Date and time the trouble has been reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="firstResponderStatus"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.firstResponderStatus">
            <xs:annotation>
               <xs:documentation>Indicates whether the first responder such as police, fire department etc.has been notified and whether they are on site or en route.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="multiplePremises"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.multiplePremises">
            <xs:annotation>
               <xs:documentation>Set to true if the outage report indicated that other neighbors are also out of power.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="reportingKind"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.reportingKind">
            <xs:annotation>
               <xs:documentation>Indicates how the customer reported trouble.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="resolvedDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.resolvedDateTime">
            <xs:annotation>
               <xs:documentation>Date and time this trouble ticket has been resolved.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="troubleCode"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.troubleCode">
            <xs:annotation>
               <xs:documentation>Trouble code (e.g., power down, flickering lights, partial power, etc).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Incident"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Incident"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.Incident">
            <xs:annotation>
               <xs:documentation>Incident reported in this trouble ticket</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IncidentHazard"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:IncidentHazard"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.IncidentHazard">
            <xs:annotation>
               <xs:documentation>All hazards reported with this trouble ticket.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TroubleOrder"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:TroubleOrder"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.TroubleOrder">
            <xs:annotation>
               <xs:documentation>The order to which one or more trouble tickets are associated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UnplannedOutage"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:UnplannedOutage"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.UnplannedOutage">
            <xs:annotation>
               <xs:documentation>The unplanned outage to which one or more trouble tickets are associated.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="UnplannedOutage"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#UnplannedOutage">
      <xs:annotation>
         <xs:documentation>Document describing the consequence of an unplanned outage in a part of the electrical network. For the purposes of this model, an unplanned outage refers to a state where energy is not delivered; such as, customers out of service, a street light is not served, etc.</xs:documentation>
         <xs:documentation>A unplanned outage may be created upon:</xs:documentation>
         <xs:documentation>- impacts the SAIDI calculation</xs:documentation>
         <xs:documentation>- a breaker trip,</xs:documentation>
         <xs:documentation>- a fault indicator status change,</xs:documentation>
         <xs:documentation>- a meter event indicating customer outage,</xs:documentation>
         <xs:documentation>- a reception of one or more customer trouble calls, or</xs:documentation>
         <xs:documentation>- an operator command, reflecting information obtained from the field crew.</xs:documentation>
         <xs:documentation>Outage restoration may be performed using a switching plan which complements the outage information with detailed switching activities, including the relationship to the crew and work.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="cause"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#UnplannedOutage.cause">
            <xs:annotation>
               <xs:documentation>The cause of this outage.  This is the cause that is used to present to external entities.  That is, the cause is weather, equipment failure, etc.</xs:documentation>
               <xs:documentation>Note: At present, this is a free string text; it could be replaced with an enumeration in the future.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="causeKind"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#UnplannedOutage.causeKind">
            <xs:annotation>
               <xs:documentation>The possible cause that could be associated with this unplanned outage.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="comment"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.comment">
            <xs:annotation>
               <xs:documentation>Free text comment.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="communityDescriptor"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Outage.communityDescriptor">
            <xs:annotation>
               <xs:documentation>a name to denote the community - this could be a name or a code of some kind.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="createdDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.createdDateTime">
            <xs:annotation>
               <xs:documentation>Date and time that this document was created.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="customersRestored"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:integer"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Outage.customersRestored">
            <xs:annotation>
               <xs:documentation>number of customers that have been restored in the area.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
            <xs:annotation>
               <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="metersAffected"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:integer"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Outage.metersAffected">
            <xs:annotation>
               <xs:documentation>The updated number of meters affected by the outage as reported by the OMS within the utility.  It is assumed this number will be updated repeatedly until the full outage is resolved.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="originalMetersAffected"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:integer"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Outage.originalMetersAffected">
            <xs:annotation>
               <xs:documentation>The original number of meters that were affected as reported by the OMS within the utility. That is, this is the total number of meters that were out at the beginning of the outage.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="outageKind"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Outage.outageKind">
            <xs:annotation>
               <xs:documentation>Defines if the outage has been verified or is only estimated</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="statusKind"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Outage.statusKind">
            <xs:annotation>
               <xs:documentation>defines the status of the crew as in dispatched or arrived, etc.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="utilityDisclaimer"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Outage.utilityDisclaimer">
            <xs:annotation>
               <xs:documentation>This contains an disclaimers the utility would like to place on the data provided to any stakeholder.  This may be different for different stakeholders.  This should possibly be an attribute under the Organization class but it is placed here for now.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.status">
            <xs:annotation>
               <xs:documentation>Status of subject matter (e.g., Agreement, Work) this document represents. For status of the document itself, use 'docStatus' attribute.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="UsagePoint"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#UsagePoint">
      <xs:annotation>
         <xs:documentation>Logical or physical point in the network to which readings or events may be attributed. Used at the place where a physical or virtual meter may be located; however, it is not required that a meter be present.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
            <xs:annotation>
               <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
            <xs:annotation>
               <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="Money" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Money">
      <xs:annotation>
         <xs:documentation>Amount of money.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:decimal"/>
   </xs:simpleType>
</xs:schema>
