ver0.0.1a/Profiles/CS_OMS.part100-ed2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:m="http://pea.co.th/cim/profile/CS_OMS#"
           xmlns:part100="http://iec.ch/TC57/2021/schema/message"
           xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pea.co.th/cim/profile/CS_OMS#"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation/>
   <xs:import namespace="http://iec.ch/TC57/2021/schema/message"
              schemaLocation="AbstractPayloadType.xsd"/>
   <xs:element name="Profile"
               type="m:Profile"
               substitutionGroup="part100:AbstractPayload"/>
   <xs:complexType name="Profile">
      <xs:complexContent>
         <xs:extension base="part100:AbstractPayloadType">
            <xs:sequence>
               <xs:element name="Customer"
                           type="m:Customer"
                           minOccurs="0"
                           maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Customer"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer">
      <xs:annotation>
         <xs:documentation>Organisation receiving services from service supplier.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
            <xs:annotation>
               <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kind"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:CustomerKind"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer.kind">
            <xs:annotation>
               <xs:documentation>Kind of customer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="locale"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer.locale">
            <xs:annotation>
               <xs:documentation>Locale designating language to use in communications with this customer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
            <xs:annotation>
               <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="vip"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer.vip">
            <xs:annotation>
               <xs:documentation>(deprecated) (use 'priority' instead) True if this is an important customer. Importance is for matters different than those in 'specialNeed' attribute.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomerAccounts"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:CustomerAccount"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer.CustomerAccounts">
            <xs:annotation>
               <xs:documentation>All accounts of this customer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EndDevices"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:Meter"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer.EndDevices">
            <xs:annotation>
               <xs:documentation>All end devices of this customer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ErpPersons"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:OldPerson"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer.ErpPersons">
            <xs:annotation/>
         </xs:element>
         <xs:element name="Organisation"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Organisation"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#OrganisationRole.Organisation">
            <xs:annotation>
               <xs:documentation>Organisation having this role.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Person"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:Person"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer.Person">
            <xs:annotation>
               <xs:documentation>The person representing the customer</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ServiceRequest"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:ServiceRequest"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer.ServiceRequest">
            <xs:annotation>
               <xs:documentation>All service requests for the customer</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Status"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer.status">
            <xs:annotation>
               <xs:documentation>Status of this customer.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CustomerAccount"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAccount">
      <xs:annotation>
         <xs:documentation>Assignment of a group of products and services purchased by the customer through a customer agreement, used as a mechanism for customer billing and payment. It contains common information from the various types of customer agreements to create billings (invoices) for a customer and receive payment.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="billingCycle"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAccount.billingCycle">
            <xs:annotation>
               <xs:documentation>Cycle day on which the associated customer account will normally be billed, used to determine when to produce the billing.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="createdDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.createdDateTime">
            <xs:annotation>
               <xs:documentation>Date and time that this document was created.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="lastBillAmount"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Money"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAccount.lastBillAmount">
            <xs:annotation>
               <xs:documentation>The last amount that will be billed to the customer prior to shut off of the account.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="lastModifiedDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.lastModifiedDateTime">
            <xs:annotation>
               <xs:documentation>Date and time this document was last modified. Documents may potentially be modified many times during their lifetime.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="title"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.title">
            <xs:annotation>
               <xs:documentation>Document title.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomerAgreements"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:CustomerAgreement"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAccount.CustomerAgreements">
            <xs:annotation>
               <xs:documentation>All agreements for this customer account.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ErpInvoicees"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:ErpInvoice"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAccount.ErpInvoicees">
            <xs:annotation/>
         </xs:element>
         <xs:element name="MeterReadSchedule"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:MeterReadSchedule"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAccount.MeterReadSchedule">
            <xs:annotation>
               <xs:documentation>Meter read schedule that applies to the customer account</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CustomerAgreement"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerAgreement">
      <xs:annotation>
         <xs:documentation>Agreement between the customer and the service supplier to pay for service at a specific service location. It records certain billing information about the type of service provided at the service location and is used during charge creation to determine the type of service.</xs:documentation>
      </xs:annotation>
      <xs:sequence/>
   </xs:complexType>
   <xs:simpleType name="CustomerKind"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerKind">
      <xs:annotation>
         <xs:documentation>Kind of customer.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="commercialIndustrial">
            <xs:annotation>
               <xs:documentation>Commercial industrial customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="energyServiceScheduler">
            <xs:annotation>
               <xs:documentation>Customer as energy service scheduler.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="energyServiceSupplier">
            <xs:annotation>
               <xs:documentation>Customer as energy service supplier.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="enterprise">
            <xs:annotation>
               <xs:documentation>Enterprise customer</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="internalUse">
            <xs:annotation>
               <xs:documentation>Internal use customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="other">
            <xs:annotation>
               <xs:documentation>Other kind of customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="pumpingLoad">
            <xs:annotation>
               <xs:documentation>Pumping load customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="regionalOperator">
            <xs:annotation>
               <xs:documentation>Regional Operator customer</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="residential">
            <xs:annotation>
               <xs:documentation>Residential customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="residentialAndCommercial">
            <xs:annotation>
               <xs:documentation>Residential and commercial customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="residentialAndStreetlight">
            <xs:annotation>
               <xs:documentation>Residential and streetlight customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="residentialFarmService">
            <xs:annotation>
               <xs:documentation>Residential farm service customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="residentialStreetlightOthers">
            <xs:annotation>
               <xs:documentation>Residential streetlight or other related customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="subsidiary">
            <xs:annotation>
               <xs:documentation>Subsidiary customer</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="windMachine">
            <xs:annotation>
               <xs:documentation>Wind machine customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="EndDevice"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDevice">
      <xs:annotation>
         <xs:documentation>Asset container that performs one or more end device functions. One type of end device is a meter which can perform metering, load management, connect/disconnect, accounting functions, etc. Some end devices, such as ones monitoring and controlling air conditioners, refrigerators, pool pumps may be connected to a meter. All end devices may have communication capability defined by the associated communication function(s). An end device may be owned by a consumer, a service provider, utility or otherwise.</xs:documentation>
         <xs:documentation>There may be a related end device function that identifies a sensor or control point within a metering application or communications systems (e.g., water, gas, electricity).</xs:documentation>
         <xs:documentation>Some devices may use an optical port that conforms to the ANSI C12.18 standard for communications.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="connectionCategory"
                     minOccurs="0"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Meter.connectionCategory">
            <xs:annotation>
               <xs:documentation>A code used to specify the connection category, e.g. low voltage, where the meter operates.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
            <xs:annotation>
               <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
            <xs:annotation>
               <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ErpInvoice"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#ErpInvoice">
      <xs:annotation>
         <xs:documentation>A roll up of invoice line items. The whole invoice has a due date and amount to be paid, with information such as customer, banks etc. being obtained through associations. The invoice roll up is based on individual line items that each contain amounts and descriptions for specific services or products.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="billMediaKind"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ErpInvoice.billMediaKind">
            <xs:annotation>
               <xs:documentation>Kind of media by which the CustomerBillingInfo was delivered.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="dueDate"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:date"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ErpInvoice.dueDate">
            <xs:annotation>
               <xs:documentation>Calculated date upon which the Invoice amount is due.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kind"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ErpInvoice.kind">
            <xs:annotation>
               <xs:documentation>Kind of invoice (default is 'sales').</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="mailedDate"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:date"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ErpInvoice.mailedDate">
            <xs:annotation>
               <xs:documentation>Date on which the customer billing statement/invoice was printed/mailed.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceNumber"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ErpInvoice.referenceNumber">
            <xs:annotation>
               <xs:documentation>Number of an invoice to be reference by this invoice.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Meter" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Meter">
      <xs:annotation>
         <xs:documentation>Physical asset that performs the metering role of the usage point. Used for measuring consumption and detection of events.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:EndDevice">
            <xs:sequence>
               <xs:element name="connectionCategory"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#Meter.connectionCategory">
                  <xs:annotation>
                     <xs:documentation>A code used to specify the connection category, e.g. low voltage, where the meter operates.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="MeterReadings"
                           minOccurs="1"
                           maxOccurs="unbounded"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#Meter.MeterReadings">
                  <xs:annotation>
                     <xs:documentation>All meter readings provided by this meter.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType sawsdl:modelReference="">
                     <xs:attribute name="ref" type="xs:string" use="required"/>
                     <xs:attribute name="referenceType" type="xs:string" use="optional"/>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="MeterReadSchedule"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#MeterReadSchedule">
      <xs:annotation/>
      <xs:sequence>
         <xs:element name="EndDevice"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:EndDevice"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#MeterReadSchedule.EndDevice">
            <xs:annotation>
               <xs:documentation>All end devices for the meter read schedule.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ReadingType"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#MeterReadSchedule.ReadingType">
            <xs:annotation>
               <xs:documentation>All reading types for the meter read schedule.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="TimeSchedule"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#MeterReadSchedule.TimeSchedule">
            <xs:annotation>
               <xs:documentation>All time schedules for the meter read schedule.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="UsagePoint"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#MeterReadSchedule.UsagePoint">
            <xs:annotation>
               <xs:documentation>All usage points for the meter read schedule.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="OldPerson"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#OldPerson">
      <xs:annotation>
         <xs:documentation>General purpose information for name and other information to contact people.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:Person">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Organisation"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#Organisation">
      <xs:annotation>
         <xs:documentation>Organisation that might have roles as utility, contractor, supplier, manufacturer, customer, etc.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aliasName"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.aliasName">
            <xs:annotation>
               <xs:documentation>The aliasName is free text human readable name of the object alternative to IdentifiedObject.name. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
               <xs:documentation>The attribute aliasName is retained because of backwards compatibility between CIM relases. It is however recommended to replace aliasName with the Name class as aliasName is planned for retirement at a future time.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
            <xs:annotation>
               <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
            <xs:annotation>
               <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Person" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Person">
      <xs:annotation>
         <xs:documentation>General purpose information for name and other information to contact people.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mName"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Person.mName">
            <xs:annotation>
               <xs:documentation>Middle name(s) or initial(s).</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ServiceRequest"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#ServiceRequest">
      <xs:annotation/>
      <xs:sequence/>
   </xs:complexType>
   <xs:complexType name="Status" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status">
      <xs:annotation>
         <xs:documentation>Current status information relevant to an entity.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="dateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status.dateTime">
            <xs:annotation>
               <xs:documentation>Date and time for which status 'value' applies.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="reason"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status.reason">
            <xs:annotation>
               <xs:documentation>Reason code or explanation for why an object went to the current status 'value'.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="remark"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status.remark">
            <xs:annotation>
               <xs:documentation>Pertinent information regarding the current 'value', as free form text.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="value"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status.value">
            <xs:annotation>
               <xs:documentation>Status value at 'dateTime'; prior status changes may have been kept in instances of activity records associated with the object to which this status applies.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="Money" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Money">
      <xs:annotation>
         <xs:documentation>Amount of money.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:decimal"/>
   </xs:simpleType>
</xs:schema>
