ver0.0.1a/Profiles/CSIS_OMS.part100-ed2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:m="http://pea.co.th/cim/profile/CSIS_OMS#"
           xmlns:part100="http://iec.ch/TC57/2021/schema/message"
           xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pea.co.th/cim/profile/CSIS_OMS#"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation/>
   <xs:complexType name="ActivityRecord"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord">
      <xs:annotation>
         <xs:documentation>Records activity for an entity at a point in time; activity may be for an event that has already occurred or for a planned activity.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="createdDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.createdDateTime">
            <xs:annotation>
               <xs:documentation>Date and time this activity record has been created (different from the 'status.dateTime', which is the time of a status change of the associated object, if applicable).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
            <xs:annotation>
               <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
            <xs:annotation>
               <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="reason"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.reason">
            <xs:annotation>
               <xs:documentation>Reason for event resulting in this activity record, typically supplied when user initiated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="severity"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.severity">
            <xs:annotation>
               <xs:documentation>Severity level of event resulting in this activity record.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.type">
            <xs:annotation>
               <xs:documentation>Type of event resulting in this activity record.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Approver"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#Approver">
      <xs:annotation>
         <xs:documentation>Person who accepted/signed or rejected the document.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
            <xs:annotation>
               <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Person"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#PersonRole.Person">
            <xs:annotation>
               <xs:documentation>Person having this role.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Asset" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset">
      <xs:annotation>
         <xs:documentation>Tangible resource of the utility, including power system equipment, various end devices, cabinets, buildings, etc. For electrical network equipment, the role of the asset is defined through PowerSystemResource and its subclasses, defined mainly in the Wires model (refer to IEC61970-301 and model package IEC61970::Wires). Asset description places emphasis on the physical characteristics of the equipment fulfilling that role.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aliasName"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.aliasName">
            <xs:annotation>
               <xs:documentation>The aliasName is free text human readable name of the object alternative to IdentifiedObject.name. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
               <xs:documentation>The attribute aliasName is retained because of backwards compatibility between CIM relases. It is however recommended to replace aliasName with the Name class as aliasName is planned for retirement at a future time.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kind"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.kind">
            <xs:annotation>
               <xs:documentation>Kind of asset. Used in description of asset components in asset instance templates.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
            <xs:annotation>
               <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Names"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:Name"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.Names">
            <xs:annotation>
               <xs:documentation>All names of this identified object.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CoordinateSystem"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#CoordinateSystem">
      <xs:annotation>
         <xs:documentation>Coordinate reference system.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="crsUrn"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CoordinateSystem.crsUrn">
            <xs:annotation>
               <xs:documentation>A Uniform Resource Name (URN) for the coordinate reference system (crs) used to define 'Location.PositionPoints'.</xs:documentation>
               <xs:documentation>An example would be the European Petroleum Survey Group (EPSG) code for a coordinate reference system, defined in URN under the Open Geospatial Consortium (OGC) namespace as: urn:ogc:def:crs:EPSG::XXXX, where XXXX is an EPSG code (a full list of codes can be found at the EPSG Registry web site http://www.epsg-registry.org/). To define the coordinate system as being WGS84 (latitude, longitude) using an EPSG OGC, this attribute would be urn:ogc:def:crs:EPSG::4.3.2.6</xs:documentation>
               <xs:documentation>A profile should limit this code to a set of allowed URNs agreed to by all sending and receiving parties.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Customer"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer">
      <xs:annotation>
         <xs:documentation>Organisation receiving services from service supplier.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="kind"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:CustomerKind"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Customer.kind">
            <xs:annotation>
               <xs:documentation>Kind of customer.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="CustomerKind"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerKind">
      <xs:annotation>
         <xs:documentation>Kind of customer.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="commercialIndustrial">
            <xs:annotation>
               <xs:documentation>Commercial industrial customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="energyServiceScheduler">
            <xs:annotation>
               <xs:documentation>Customer as energy service scheduler.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="energyServiceSupplier">
            <xs:annotation>
               <xs:documentation>Customer as energy service supplier.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="enterprise">
            <xs:annotation>
               <xs:documentation>Enterprise customer</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="other">
            <xs:annotation>
               <xs:documentation>Other kind of customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="pumpingLoad">
            <xs:annotation>
               <xs:documentation>Pumping load customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="regionalOperator">
            <xs:annotation>
               <xs:documentation>Regional Operator customer</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="residential">
            <xs:annotation>
               <xs:documentation>Residential customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="residentialAndCommercial">
            <xs:annotation>
               <xs:documentation>Residential and commercial customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="residentialAndStreetlight">
            <xs:annotation>
               <xs:documentation>Residential and streetlight customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="residentialFarmService">
            <xs:annotation>
               <xs:documentation>Residential farm service customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="residentialStreetlightOthers">
            <xs:annotation>
               <xs:documentation>Residential streetlight or other related customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="subsidiary">
            <xs:annotation>
               <xs:documentation>Subsidiary customer</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="windMachine">
            <xs:annotation>
               <xs:documentation>Wind machine customer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="CustomerNotification"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerNotification">
      <xs:annotation>
         <xs:documentation>Conditions for notifying the customer about the changes in the status of their service (e.g., outage restore, estimated restoration time, tariff or service level change, etc.)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="contactType"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerNotification.contactType">
            <xs:annotation>
               <xs:documentation>Type of contact (e.g., phone, email, etc.).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="contactValue"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerNotification.contactValue">
            <xs:annotation>
               <xs:documentation>Value of contact type (e.g., phone number, email address, etc.).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="earliestDateTimeToCall"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerNotification.earliestDateTimeToCall">
            <xs:annotation>
               <xs:documentation>Earliest date time to call the customer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="latestDateTimeToCall"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerNotification.latestDateTimeToCall">
            <xs:annotation>
               <xs:documentation>Latest date time to call the customer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="trigger"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:NotificationTriggerKind"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CustomerNotification.trigger">
            <xs:annotation>
               <xs:documentation>Trigger for this notification.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Location"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#Location">
      <xs:annotation>
         <xs:documentation>The place, scene, or point of something where someone or something has been, is, and/or will be at a given moment in time. It can be defined with one or more position points (coordinates) in a given coordinate system.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="direction"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Location.direction">
            <xs:annotation>
               <xs:documentation>(if applicable) Direction that allows field crews to quickly find a given asset. For a given location, such as a street address, this is the relative direction in which to find the asset. For example, a streetlight may be located at the 'NW' (northwest) corner of the customer's site, or a usage point may be located on the second floor of an apartment building.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geoInfoReference"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Location.geoInfoReference">
            <xs:annotation>
               <xs:documentation>(if applicable) Reference to geographical information source, often external to the utility.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Location.type">
            <xs:annotation>
               <xs:documentation>Classification by utility's corporate standards and practices, relative to the location itself (e.g., geographical, functional accounting, etc., not a given property that happens to exist at that location).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CoordinateSystem"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:CoordinateSystem"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Location.CoordinateSystem">
            <xs:annotation>
               <xs:documentation>Coordinate system used to describe position points of this location.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PositionPoints"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Location.PositionPoints">
            <xs:annotation>
               <xs:documentation>Sequence of position points describing this location, expressed in coordinate system 'Location.CoordinateSystem'.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Name" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Name">
      <xs:annotation>
         <xs:documentation>The Name class provides the means to define any number of human readable  names for an object. A name is &lt;b&gt;not&lt;/b&gt; to be used for defining inter-object relationships. For inter-object relationships instead use the object identification 'mRID'.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Name.name">
            <xs:annotation>
               <xs:documentation>Any free text that name the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IdentifiedObject"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Name.IdentifiedObject">
            <xs:annotation>
               <xs:documentation>Identified object that this name designates.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="NameType"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:NameType"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Name.NameType">
            <xs:annotation>
               <xs:documentation>Type of this name.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="NameType"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#NameType">
      <xs:annotation>
         <xs:documentation>Type of name. Possible values for attribute 'name' are implementation dependent but standard profiles may specify types. An enterprise may have multiple IT systems each having its own local name for the same object, e.g. a planning system may have different names from an EMS. An object may also have different names within the same IT system, e.g. localName as defined in CIM version 14. The definition from CIM14 is:</xs:documentation>
         <xs:documentation>The localName is a human readable name of the object. It is a free text name local to a node in a naming hierarchy similar to a file directory structure. A power system related naming hierarchy may be: Substation, VoltageLevel, Equipment etc. Children of the same parent in such a hierarchy have names that typically are unique among them.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="description"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#NameType.description">
            <xs:annotation>
               <xs:documentation>Description of the name type.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#NameType.name">
            <xs:annotation>
               <xs:documentation>Name of the name type.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NameTypeAuthority"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:NameTypeAuthority"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#NameType.NameTypeAuthority">
            <xs:annotation>
               <xs:documentation>Authority responsible for managing names of this type.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="NameTypeAuthority"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#NameTypeAuthority">
      <xs:annotation>
         <xs:documentation>Authority responsible for creation and management of names of a given type; typically an organization or an enterprise system.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="description"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#NameTypeAuthority.description">
            <xs:annotation>
               <xs:documentation>Description of the name type authority.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#NameTypeAuthority.name">
            <xs:annotation>
               <xs:documentation>Name of the name type authority.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="NotificationTriggerKind"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#NotificationTriggerKind">
      <xs:annotation>
         <xs:documentation>Kind of trigger to notify customer.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:complexType name="ServiceLocation"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#ServiceLocation">
      <xs:annotation>
         <xs:documentation>A real estate location, commonly referred to as premises.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="accessMethod"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ServiceLocation.accessMethod">
            <xs:annotation>
               <xs:documentation>Method for the service person to access this service location. For example, a description of where to obtain a key if the facility is unmanned and secured.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="needsInspection"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ServiceLocation.needsInspection">
            <xs:annotation>
               <xs:documentation>True if inspection is needed of facilities at this service location. This could be requested by a customer, due to suspected tampering, environmental concerns (e.g., a fire in the vicinity), or to correct incompatible data.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="siteAccessProblem"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ServiceLocation.siteAccessProblem">
            <xs:annotation>
               <xs:documentation>Problems previously encountered when visiting or performing work on this location. Examples include: bad dog, violent customer, verbally abusive occupant, obstructions, safety hazards, etc.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TroubleOrder"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleOrder">
      <xs:annotation>
         <xs:documentation>Trouble order sends an incident to a crew to initiate a response to an unplanned outage.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="authorName"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.authorName">
            <xs:annotation>
               <xs:documentation>Name of the author of this document.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="comment"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleOrder.comment">
            <xs:annotation>
               <xs:documentation>Free-form comment associated with the trouble order.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="comment"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.comment">
            <xs:annotation>
               <xs:documentation>Free text comment.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="createdDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.createdDateTime">
            <xs:annotation>
               <xs:documentation>Date and time that this document was created.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
            <xs:annotation>
               <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="docStatus"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.docStatus">
            <xs:annotation>
               <xs:documentation>Status of this document. For status of subject matter this document represents (e.g., Agreement, Work), use 'status' attribute.</xs:documentation>
               <xs:documentation>Example values for 'docStatus.status' are draft, approved, cancelled, etc.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="electronicAddress"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.electronicAddress">
            <xs:annotation>
               <xs:documentation>Electronic address.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="Issuer"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.Issuer">
            <xs:annotation>
               <xs:documentation>Issuer of this document.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="status"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.status">
            <xs:annotation>
               <xs:documentation>Status of subject matter (e.g., Agreement, Work) this document represents. For status of the document itself, use 'docStatus' attribute.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="TroubleReportingKind"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleReportingKind">
      <xs:annotation>
         <xs:documentation>Kind of trouble reporting.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="app">
            <xs:annotation/>
         </xs:enumeration>
         <xs:enumeration value="call">
            <xs:annotation>
               <xs:documentation>Trouble call received by customer service representative.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="email">
            <xs:annotation>
               <xs:documentation>Trouble reported by email.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ivr">
            <xs:annotation>
               <xs:documentation>Trouble reported through interactive voice response system.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="letter">
            <xs:annotation>
               <xs:documentation>Trouble reported by letter.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="other">
            <xs:annotation>
               <xs:documentation>Trouble reported by other means.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="sms">
            <xs:annotation/>
         </xs:enumeration>
         <xs:enumeration value="web">
            <xs:annotation/>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="TroubleTicket"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket">
      <xs:annotation/>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="comment"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.comment">
            <xs:annotation>
               <xs:documentation>Free-form comment associated with the trouble call for example, "customer reported a large flash", etc.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="dateTimeOfReport"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.dateTimeOfReport">
            <xs:annotation>
               <xs:documentation>Date and time the trouble has been reported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
            <xs:annotation>
               <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="firstResponderStatus"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.firstResponderStatus">
            <xs:annotation>
               <xs:documentation>Indicates whether the first responder such as police, fire department etc.has been notified and whether they are on site or en route.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="multiplePremises"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.multiplePremises">
            <xs:annotation>
               <xs:documentation>Set to true if the outage report indicated that other neighbors are also out of power.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
            <xs:annotation>
               <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="reportingKind"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:TroubleReportingKind"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.reportingKind">
            <xs:annotation>
               <xs:documentation>Indicates how the customer reported trouble.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="resolvedDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.resolvedDateTime">
            <xs:annotation>
               <xs:documentation>Date and time this trouble ticket has been resolved.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="troubleCode"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.troubleCode">
            <xs:annotation>
               <xs:documentation>Trouble code (e.g., power down, flickering lights, partial power, etc).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Customer"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Customer"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.Customer">
            <xs:annotation>
               <xs:documentation>Customer for whom this trouble ticket is relevant.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Hazard"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.Hazard">
            <xs:annotation/>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="Incident"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.Incident">
            <xs:annotation>
               <xs:documentation>Incident reported in this trouble ticket</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="Location"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Location"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.Location">
            <xs:annotation/>
         </xs:element>
         <xs:element name="Notification"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:CustomerNotification"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.Notification">
            <xs:annotation>
               <xs:documentation>Notification for this trouble ticket.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ServiceLocation"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:ServiceLocation"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.ServiceLocation">
            <xs:annotation>
               <xs:documentation>The service location to which one or more trouble tickets are associated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TroubleOrder"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:TroubleOrder"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#TroubleTicket.TroubleOrder">
            <xs:annotation>
               <xs:documentation>The order to which one or more trouble tickets are associated.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Work" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Work">
      <xs:annotation>
         <xs:documentation>Document used to request, initiate, track and record work.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aliasName"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.aliasName">
            <xs:annotation>
               <xs:documentation>The aliasName is free text human readable name of the object alternative to IdentifiedObject.name. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
               <xs:documentation>The attribute aliasName is retained because of backwards compatibility between CIM relases. It is however recommended to replace aliasName with the Name class as aliasName is planned for retirement at a future time.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="createdDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.createdDateTime">
            <xs:annotation>
               <xs:documentation>Date and time that this document was created.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
            <xs:annotation>
               <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kind"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#BaseWork.kind">
            <xs:annotation>
               <xs:documentation>Kind of work.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="lastModifiedDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.lastModifiedDateTime">
            <xs:annotation>
               <xs:documentation>Date and time this document was last modified. Documents may potentially be modified many times during their lifetime.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
            <xs:annotation>
               <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="requestDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Work.requestDateTime">
            <xs:annotation>
               <xs:documentation>Date and time work was requested.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="statusKind"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:WorkStatusKind"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#BaseWork.statusKind">
            <xs:annotation>
               <xs:documentation>Kind of work status.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="workOrderNumber"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Work.workOrderNumber">
            <xs:annotation>
               <xs:documentation>Work order number (or other unique identifying information) for this work.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ActivityRecord"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:ActivityRecord"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.ActivityRecord">
            <xs:annotation>
               <xs:documentation>The activity record for a document</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Approver"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Approver"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.Approver">
            <xs:annotation>
               <xs:documentation>Approver of this document.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="WorkActivityRecords"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:WorkActivityRecord"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#BaseWork.WorkActivityRecords">
            <xs:annotation>
               <xs:documentation>All activity records for this work or work task.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="WorkTasks"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:WorkTask"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Work.WorkTasks">
            <xs:annotation>
               <xs:documentation>All tasks in this work.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="WorkActivityRecord"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#WorkActivityRecord">
      <xs:annotation>
         <xs:documentation>Records information about the status of work or work task at a point in time.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:ActivityRecord">
            <xs:sequence>
               <xs:element name="mRID"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
                  <xs:annotation>
                     <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
                     <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="createdDateTime"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:dateTime"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.createdDateTime">
                  <xs:annotation>
                     <xs:documentation>Date and time this activity record has been created (different from the 'status.dateTime', which is the time of a status change of the associated object, if applicable).</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="description"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
                  <xs:annotation>
                     <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="name"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
                  <xs:annotation>
                     <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="percentComplete"
                           minOccurs="1"
                           maxOccurs="1"
                           type="m:PerCent"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#WorkActivityRecord.percentComplete">
                  <xs:annotation>
                     <xs:documentation>Estimated percentage of completion of this individual work task or overall work order.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="reason"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.reason">
                  <xs:annotation>
                     <xs:documentation>Reason for event resulting in this activity record, typically supplied when user initiated.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="severity"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.severity">
                  <xs:annotation>
                     <xs:documentation>Severity level of event resulting in this activity record.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="type"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.type">
                  <xs:annotation>
                     <xs:documentation>Type of event resulting in this activity record.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Assets"
                           minOccurs="1"
                           maxOccurs="unbounded"
                           type="m:Asset"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.Assets">
                  <xs:annotation>
                     <xs:documentation>All assets for which this activity record has been created.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="BaseWork"
                           minOccurs="1"
                           maxOccurs="1"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#WorkActivityRecord.BaseWork">
                  <xs:annotation>
                     <xs:documentation>Base work that this activity record tracks.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType sawsdl:modelReference="">
                     <xs:attribute name="ref" type="xs:string" use="required"/>
                     <xs:attribute name="referenceType" type="xs:string" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <xs:element name="status"
                           minOccurs="1"
                           maxOccurs="1"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.status">
                  <xs:annotation>
                     <xs:documentation>Information on consequence of event resulting in this activity record.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType sawsdl:modelReference="">
                     <xs:attribute name="ref" type="xs:string" use="required"/>
                     <xs:attribute name="referenceType" type="xs:string" use="optional"/>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="WorkStatusKind"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#WorkStatusKind">
      <xs:annotation>
         <xs:documentation>Kind of status, specific to work.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="approved">
            <xs:annotation>
               <xs:documentation>Work has been approved.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="cancelled">
            <xs:annotation>
               <xs:documentation>Work has been canceled.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="closed">
            <xs:annotation>
               <xs:documentation>Work has been closed (typically by a person responsible for work management) and is ready for billing.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="completed">
            <xs:annotation>
               <xs:documentation>Work has been completed, i.e., crew can leave the work location and is available for another work.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="dispatched">
            <xs:annotation>
               <xs:documentation>Crew has been dispatched.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="enroute">
            <xs:annotation>
               <xs:documentation>Crew is 'en route'.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="inProgress">
            <xs:annotation>
               <xs:documentation>Work is in progress.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="onSite">
            <xs:annotation>
               <xs:documentation>Crew is on the site.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="scheduled">
            <xs:annotation>
               <xs:documentation>Work has been scheduled.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="waitingOnApproval">
            <xs:annotation>
               <xs:documentation>Work approval is pending.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="waitingOnMaterial">
            <xs:annotation>
               <xs:documentation>Work has been waiting on material.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="waitingToBeScheduled">
            <xs:annotation>
               <xs:documentation>Work needs to be scheduled.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="WorkTask"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#WorkTask">
      <xs:annotation>
         <xs:documentation>A task within a set of work.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="completedDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#WorkTask.completedDateTime">
            <xs:annotation>
               <xs:documentation>Date and time work task was completed.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="contractorCost"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Money"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#WorkTask.contractorCost">
            <xs:annotation>
               <xs:documentation>Total contractor costs associated with the work task.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="crewETA"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#WorkTask.crewETA">
            <xs:annotation>
               <xs:documentation>Estimated time of arrival, so that customer or police/fire department can be informed when the crew will arrive.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="estimatedCompletionTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#WorkTask.estimatedCompletionTime">
            <xs:annotation>
               <xs:documentation>Time and Date when the work task will be completed.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="instruction"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#WorkTask.instruction">
            <xs:annotation>
               <xs:documentation>Instructions for performing this task.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="laborCost"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Money"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#WorkTask.laborCost">
            <xs:annotation>
               <xs:documentation>Total labor costs associated with the work task.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="laborHours"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Hours"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#WorkTask.laborHours">
            <xs:annotation>
               <xs:documentation>Hours of labor expended under work task.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="materiallCost"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Money"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#WorkTask.materiallCost">
            <xs:annotation>
               <xs:documentation>Total material costs associated with the work task.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="Hours" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Hours">
      <xs:annotation>
         <xs:documentation>Time specified in hours.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:float"/>
   </xs:simpleType>
   <xs:simpleType name="PerCent"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#PerCent">
      <xs:annotation>
         <xs:documentation>Percentage on a defined base.   For example, specify as 100 to indicate at the defined base.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:float"/>
   </xs:simpleType>
   <xs:simpleType name="Money" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Money">
      <xs:annotation>
         <xs:documentation>Amount of money.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:decimal"/>
   </xs:simpleType>
</xs:schema>
