ver0.0.1a/Profiles/DM_OMS.part100-ed2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:m="http://pea.co.th/cim/profile/DM_OMS#"
           xmlns:part100="http://iec.ch/TC57/2021/schema/message"
           xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pea.co.th/cim/profile/DM_OMS#"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation/>
   <xs:import namespace="http://iec.ch/TC57/2021/schema/message"
              schemaLocation="AbstractPayloadType.xsd"/>
   <xs:element name="DM_OMS_Profile"
               type="m:DM_OMS_Profile"
               substitutionGroup="part100:AbstractPayload"/>
   <xs:complexType name="DM_OMS_Profile">
      <xs:complexContent>
         <xs:extension base="part100:AbstractPayloadType">
            <xs:sequence>
               <xs:element name="Asset" type="m:Asset" minOccurs="0" maxOccurs="unbounded"/>
               <xs:element name="EndDevice"
                           type="m:EndDevice"
                           minOccurs="0"
                           maxOccurs="unbounded"/>
               <xs:element name="Meter" type="m:Meter" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Asset" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset">
      <xs:annotation>
         <xs:documentation>Tangible resource of the utility, including power system equipment, various end devices, cabinets, buildings, etc. For electrical network equipment, the role of the asset is defined through PowerSystemResource and its subclasses, defined mainly in the Wires model (refer to IEC61970-301 and model package IEC61970::Wires). Asset description places emphasis on the physical characteristics of the equipment fulfilling that role.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="initialCondition"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.initialCondition">
            <xs:annotation>
               <xs:documentation>Condition of asset at last baseline. Examples include new, rebuilt, overhaul required, other. Refer to inspection data for information on the most current condition of the asset.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="initialLossOfLife"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:PerCent"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.initialLossOfLife">
            <xs:annotation>
               <xs:documentation>Percentage of initial life expectancy that has been lost as of the last life expectancy baseline. Represents</xs:documentation>
               <xs:documentation>(initial life expectancy - current life expectancy) / initial life expectancy.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="inUseState"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.inUseState">
            <xs:annotation>
               <xs:documentation>Indication of whether asset is currently deployed (in use), ready to be put into use or not available for use.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="kind"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:AssetKind"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.kind">
            <xs:annotation>
               <xs:documentation>Kind of asset. Used in description of asset components in asset instance templates.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="lifecycleState"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:AssetLifecycleStateKind"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.lifecycleState">
            <xs:annotation>
               <xs:documentation>Current lifecycle state of asset.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="lotNumber"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.lotNumber">
            <xs:annotation>
               <xs:documentation>Lot number for this asset. Even for the same model and version number, many assets are manufactured in lots.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="purchasePrice"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Money"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.purchasePrice">
            <xs:annotation>
               <xs:documentation>Purchase price of asset.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="retiredReason"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:RetiredReasonKind"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.retiredReason">
            <xs:annotation>
               <xs:documentation>Reason asset retired.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="serialNumber"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.serialNumber">
            <xs:annotation>
               <xs:documentation>Serial number of this asset.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.type">
            <xs:annotation>
               <xs:documentation>Utility-specific classification of Asset and its subtypes, according to their corporate standards, practices, and existing IT systems (e.g., for management of assets, maintenance, work, outage, customers, etc.).</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AssetInfo"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#AssetInfo">
      <xs:annotation>
         <xs:documentation>Set of attributes of an asset, representing typical datasheet information of a physical device that can be instantiated and shared in different data exchange contexts:</xs:documentation>
         <xs:documentation>- as attributes of an asset instance (installed or in stock)</xs:documentation>
         <xs:documentation>- as attributes of an asset model (product by a manufacturer)</xs:documentation>
         <xs:documentation>- as attributes of a type asset (generic type of an asset as used in designs/extension planning).</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="CatalogAssetType"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:CatalogAssetType"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#AssetInfo.CatalogAssetType">
            <xs:annotation>
               <xs:documentation>Asset information (nameplate) for this catalog asset type.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="AssetKind"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#AssetKind">
      <xs:annotation>
         <xs:documentation>Kinds of assets or asset components.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="breakerAirBlastBreaker">
            <xs:annotation>
               <xs:documentation>Air blast circuit breaker.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="breakerBulkOilBreaker">
            <xs:annotation>
               <xs:documentation>Bulk oil circuit breaker.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="breakerInsulatingStackAssembly">
            <xs:annotation>
               <xs:documentation>Breaker insulating stack assembly (for live tank breaker).</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="breakerMinimumOilBreaker">
            <xs:annotation>
               <xs:documentation>Minimum oil circuit breaker.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="breakerSF6DeadTankBreaker">
            <xs:annotation>
               <xs:documentation>SF6 dead tank breaker.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="breakerSF6LiveTankBreaker">
            <xs:annotation>
               <xs:documentation>SF6 live tank breaker.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="breakerTankAssembly">
            <xs:annotation>
               <xs:documentation>Breaker tank assembly.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="other">
            <xs:annotation>
               <xs:documentation>Other type of Asset. The type attribute may provide more details in this case.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="transformer">
            <xs:annotation>
               <xs:documentation>Transformer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="transformerTank">
            <xs:annotation>
               <xs:documentation>Transformer tank.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AssetLifecycleStateKind"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#AssetLifecycleStateKind">
      <xs:annotation>
         <xs:documentation>Lifecycle states an asset can be in.</xs:documentation>
         <xs:documentation>While the possible lifecycle states are standardized, the allowed transitions are not - they are intended to be defined by the business process requirements of local implementations.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="disposedOf">
            <xs:annotation>
               <xs:documentation>Asset disposed of.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="manufactured">
            <xs:annotation>
               <xs:documentation>Asset manufactured.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="purchased">
            <xs:annotation>
               <xs:documentation>Asset purchased.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="received">
            <xs:annotation>
               <xs:documentation>Asset received.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="retired">
            <xs:annotation>
               <xs:documentation>Asset retired.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="CatalogAssetType"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#CatalogAssetType">
      <xs:annotation>
         <xs:documentation>a Assets that may be used for planning, work or design purposes.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="estimatedUnitCost"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Money"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CatalogAssetType.estimatedUnitCost">
            <xs:annotation>
               <xs:documentation>Estimated unit cost (or cost per unit length) of this type of asset. It does not include labor to install, construct or configure it.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kind"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:AssetKind"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CatalogAssetType.kind">
            <xs:annotation>
               <xs:documentation>Kind of asset (from enumerated list).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="stockItem"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CatalogAssetType.stockItem">
            <xs:annotation>
               <xs:documentation>True if item is a stock item (default).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#CatalogAssetType.type">
            <xs:annotation>
               <xs:documentation>Description of type of asset.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EndDevice"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDevice">
      <xs:annotation>
         <xs:documentation>Asset container that performs one or more end device functions. One type of end device is a meter which can perform metering, load management, connect/disconnect, accounting functions, etc. Some end devices, such as ones monitoring and controlling air conditioners, refrigerators, pool pumps may be connected to a meter. All end devices may have communication capability defined by the associated communication function(s). An end device may be owned by a consumer, a service provider, utility or otherwise.</xs:documentation>
         <xs:documentation>There may be a related end device function that identifies a sensor or control point within a metering application or communications systems (e.g., water, gas, electricity).</xs:documentation>
         <xs:documentation>Some devices may use an optical port that conforms to the ANSI C12.18 standard for communications.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aliasName"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.aliasName">
            <xs:annotation>
               <xs:documentation>The aliasName is free text human readable name of the object alternative to IdentifiedObject.name. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
               <xs:documentation>The attribute aliasName is retained because of backwards compatibility between CIM relases. It is however recommended to replace aliasName with the Name class as aliasName is planned for retirement at a future time.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="inUseState"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.inUseState">
            <xs:annotation>
               <xs:documentation>Indication of whether asset is currently deployed (in use), ready to be put into use or not available for use.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="kind"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.kind">
            <xs:annotation>
               <xs:documentation>Kind of asset. Used in description of asset components in asset instance templates.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="lifecycleState"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.lifecycleState">
            <xs:annotation>
               <xs:documentation>Current lifecycle state of asset.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="lotNumber"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.lotNumber">
            <xs:annotation>
               <xs:documentation>Lot number for this asset. Even for the same model and version number, many assets are manufactured in lots.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
            <xs:annotation>
               <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="purchasePrice"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Money"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.purchasePrice">
            <xs:annotation>
               <xs:documentation>Purchase price of asset.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="retiredReason"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.retiredReason">
            <xs:annotation>
               <xs:documentation>Reason asset retired.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="serialNumber"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.serialNumber">
            <xs:annotation>
               <xs:documentation>Serial number of this asset.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ActivityRecords"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.ActivityRecords">
            <xs:annotation>
               <xs:documentation>All activity records created for this asset.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="AssetInfo"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:AssetInfo"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.AssetInfo">
            <xs:annotation>
               <xs:documentation>Data applicable to this asset.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ErpInventory"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:ErpInventory"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.ErpInventory">
            <xs:annotation/>
         </xs:element>
         <xs:element name="Names"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:Name"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.Names">
            <xs:annotation>
               <xs:documentation>All names of this identified object.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ServiceLocation"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.ServiceLocation">
            <xs:annotation>
               <xs:documentation>The sevice location at which the assets exist</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ErpInventory"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#ErpInventory">
      <xs:annotation>
         <xs:documentation>Utility inventory-related information about an item or part (and not for description of the item and its attributes). It is used by ERP applications to enable the synchronization of Inventory data that exists on separate Item Master databases. This data is not the master data that describes the attributes of the item such as dimensions, weight, or unit of measure - it describes the item as it exists at a specific location.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aliasName"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.aliasName">
            <xs:annotation>
               <xs:documentation>The aliasName is free text human readable name of the object alternative to IdentifiedObject.name. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
               <xs:documentation>The attribute aliasName is retained because of backwards compatibility between CIM relases. It is however recommended to replace aliasName with the Name class as aliasName is planned for retirement at a future time.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
            <xs:annotation>
               <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ErpInventory.status">
            <xs:annotation/>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Meter" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Meter">
      <xs:annotation>
         <xs:documentation>Physical asset that performs the metering role of the usage point. Used for measuring consumption and detection of events.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:EndDevice">
            <xs:sequence>
               <xs:element name="mRID"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
                  <xs:annotation>
                     <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
                     <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="amrSystem"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDevice.amrSystem">
                  <xs:annotation>
                     <xs:documentation>Automated meter reading (AMR) or other communication system responsible for communications to this end device.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="connectionCategory"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#Meter.connectionCategory">
                  <xs:annotation>
                     <xs:documentation>A code used to specify the connection category, e.g. low voltage, where the meter operates.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="initialCondition"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.initialCondition">
                  <xs:annotation>
                     <xs:documentation>Condition of asset at last baseline. Examples include new, rebuilt, overhaul required, other. Refer to inspection data for information on the most current condition of the asset.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="initialLossOfLife"
                           minOccurs="1"
                           maxOccurs="1"
                           type="m:PerCent"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.initialLossOfLife">
                  <xs:annotation>
                     <xs:documentation>Percentage of initial life expectancy that has been lost as of the last life expectancy baseline. Represents</xs:documentation>
                     <xs:documentation>(initial life expectancy - current life expectancy) / initial life expectancy.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="installCode"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDevice.installCode">
                  <xs:annotation>
                     <xs:documentation>Installation code.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="inUseState"
                           minOccurs="1"
                           maxOccurs="1"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.inUseState">
                  <xs:annotation>
                     <xs:documentation>Indication of whether asset is currently deployed (in use), ready to be put into use or not available for use.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType sawsdl:modelReference="">
                     <xs:attribute name="ref" type="xs:string" use="required"/>
                     <xs:attribute name="referenceType" type="xs:string" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <xs:element name="kind"
                           minOccurs="1"
                           maxOccurs="1"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.kind">
                  <xs:annotation>
                     <xs:documentation>Kind of asset. Used in description of asset components in asset instance templates.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType sawsdl:modelReference="">
                     <xs:attribute name="ref" type="xs:string" use="required"/>
                     <xs:attribute name="referenceType" type="xs:string" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <xs:element name="name"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
                  <xs:annotation>
                     <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="MeterReadings"
                           minOccurs="1"
                           maxOccurs="unbounded"
                           type="m:MeterReading"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#Meter.MeterReadings">
                  <xs:annotation>
                     <xs:documentation>All meter readings provided by this meter.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Names"
                           minOccurs="1"
                           maxOccurs="unbounded"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.Names">
                  <xs:annotation>
                     <xs:documentation>All names of this identified object.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType sawsdl:modelReference="">
                     <xs:attribute name="ref" type="xs:string" use="required"/>
                     <xs:attribute name="referenceType" type="xs:string" use="optional"/>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="MeterReading"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#MeterReading">
      <xs:annotation>
         <xs:documentation>Set of values obtained from the meter.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="UsagePoint"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:UsagePoint"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#MeterReading.UsagePoint">
            <xs:annotation>
               <xs:documentation>Usage point from which this meter reading (set of values) has been obtained.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Name" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Name">
      <xs:annotation>
         <xs:documentation>The Name class provides the means to define any number of human readable  names for an object. A name is &lt;b&gt;not&lt;/b&gt; to be used for defining inter-object relationships. For inter-object relationships instead use the object identification 'mRID'.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Name.name">
            <xs:annotation>
               <xs:documentation>Any free text that name the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IdentifiedObject"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Name.IdentifiedObject">
            <xs:annotation>
               <xs:documentation>Identified object that this name designates.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="NameType"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Name.NameType">
            <xs:annotation>
               <xs:documentation>Type of this name.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="RetiredReasonKind"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#RetiredReasonKind">
      <xs:annotation>
         <xs:documentation>Reason asset retired.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="environmental">
            <xs:annotation>
               <xs:documentation>Retired due to environmental reasons.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="excessiveMaintenance">
            <xs:annotation>
               <xs:documentation>Retired due to excessive maintainance issues.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="facilitiesUpgrade">
            <xs:annotation>
               <xs:documentation>Retired due to facility upgrade.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="failed">
            <xs:annotation>
               <xs:documentation>Retired because of failure.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="obsolescence">
            <xs:annotation>
               <xs:documentation>Retired due to obsolescence.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="other">
            <xs:annotation>
               <xs:documentation>Retired due to other reasons.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="sold">
            <xs:annotation>
               <xs:documentation>Retired and sold.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="UsagePoint"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#UsagePoint">
      <xs:annotation>
         <xs:documentation>Logical or physical point in the network to which readings or events may be attributed. Used at the place where a physical or virtual meter may be located; however, it is not required that a meter be present.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
            <xs:annotation>
               <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="PerCent"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#PerCent">
      <xs:annotation>
         <xs:documentation>Percentage on a defined base.   For example, specify as 100 to indicate at the defined base.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:float"/>
   </xs:simpleType>
   <xs:simpleType name="Money" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Money">
      <xs:annotation>
         <xs:documentation>Amount of money.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:decimal"/>
   </xs:simpleType>
</xs:schema>
