ver0.0.1/Profiles/AMI_OMS.part100-ed2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:m="http://pea.co.th/cim/profile/AMI_OMS#"
           xmlns:part100="http://iec.ch/TC57/2021/schema/message"
           xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pea.co.th/cim/profile/AMI_OMS#"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation/>
   <xs:import namespace="http://iec.ch/TC57/2021/schema/message"
              schemaLocation="AbstractPayloadType.xsd"/>
   <xs:element name="AMI_OMS_Profile"
               type="m:AMI_OMS_Profile"
               substitutionGroup="part100:AbstractPayload"/>
   <xs:complexType name="AMI_OMS_Profile">
      <xs:complexContent>
         <xs:extension base="part100:AbstractPayloadType">
            <xs:sequence>
               <xs:element name="EndDeviceAction"
                           type="m:EndDeviceAction"
                           minOccurs="0"
                           maxOccurs="unbounded"/>
               <xs:element name="EndDeviceEvent"
                           type="m:EndDeviceEvent"
                           minOccurs="0"
                           maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="AssetKind"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#AssetKind">
      <xs:annotation>
         <xs:documentation>Kinds of assets or asset components.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="breakerAirBlastBreaker">
            <xs:annotation>
               <xs:documentation>Air blast circuit breaker.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="breakerBulkOilBreaker">
            <xs:annotation>
               <xs:documentation>Bulk oil circuit breaker.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="breakerInsulatingStackAssembly">
            <xs:annotation>
               <xs:documentation>Breaker insulating stack assembly (for live tank breaker).</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="breakerMinimumOilBreaker">
            <xs:annotation>
               <xs:documentation>Minimum oil circuit breaker.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="breakerSF6DeadTankBreaker">
            <xs:annotation>
               <xs:documentation>SF6 dead tank breaker.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="breakerSF6LiveTankBreaker">
            <xs:annotation>
               <xs:documentation>SF6 live tank breaker.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="breakerTankAssembly">
            <xs:annotation>
               <xs:documentation>Breaker tank assembly.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="other">
            <xs:annotation>
               <xs:documentation>Other type of Asset. The type attribute may provide more details in this case.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="transformer">
            <xs:annotation>
               <xs:documentation>Transformer.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="transformerTank">
            <xs:annotation>
               <xs:documentation>Transformer tank.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="EndDevice"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDevice">
      <xs:annotation>
         <xs:documentation>Asset container that performs one or more end device functions. One type of end device is a meter which can perform metering, load management, connect/disconnect, accounting functions, etc. Some end devices, such as ones monitoring and controlling air conditioners, refrigerators, pool pumps may be connected to a meter. All end devices may have communication capability defined by the associated communication function(s). An end device may be owned by a consumer, a service provider, utility or otherwise.</xs:documentation>
         <xs:documentation>There may be a related end device function that identifies a sensor or control point within a metering application or communications systems (e.g., water, gas, electricity).</xs:documentation>
         <xs:documentation>Some devices may use an optical port that conforms to the ANSI C12.18 standard for communications.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="amrSystem"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDevice.amrSystem">
            <xs:annotation>
               <xs:documentation>Automated meter reading (AMR) or other communication system responsible for communications to this end device.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="initialCondition"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.initialCondition">
            <xs:annotation>
               <xs:documentation>Condition of asset at last baseline. Examples include new, rebuilt, overhaul required, other. Refer to inspection data for information on the most current condition of the asset.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="initialLossOfLife"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:PerCent"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.initialLossOfLife">
            <xs:annotation>
               <xs:documentation>Percentage of initial life expectancy that has been lost as of the last life expectancy baseline. Represents</xs:documentation>
               <xs:documentation>(initial life expectancy - current life expectancy) / initial life expectancy.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="installCode"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDevice.installCode">
            <xs:annotation>
               <xs:documentation>Installation code.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="inUseState"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.inUseState">
            <xs:annotation>
               <xs:documentation>Indication of whether asset is currently deployed (in use), ready to be put into use or not available for use.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="kind"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:AssetKind"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.kind">
            <xs:annotation>
               <xs:documentation>Kind of asset. Used in description of asset components in asset instance templates.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EndDeviceControls"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:EndDeviceControl"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDevice.EndDeviceControls">
            <xs:annotation>
               <xs:documentation>All end device controls sending commands to this end device.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EndDeviceEvents"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:EndDeviceEvent"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDevice.EndDeviceEvents">
            <xs:annotation>
               <xs:documentation>All events reported by this end device.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EndDeviceFunctions"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:EndDeviceFunction"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDevice.EndDeviceFunctions">
            <xs:annotation>
               <xs:documentation>All end device functions this end device performs.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EndDeviceInfo"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:EndDeviceInfo"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDevice.EndDeviceInfo">
            <xs:annotation>
               <xs:documentation>End device data.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EndDeviceAction"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceAction">
      <xs:annotation>
         <xs:documentation>Action/command performed by an end device on a device other than the end device.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="command"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceAction.command">
            <xs:annotation>
               <xs:documentation>Command text.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="startDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceAction.startDateTime">
            <xs:annotation>
               <xs:documentation>Start date and time for action of this control.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EndDeviceCapability"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceCapability">
      <xs:annotation>
         <xs:documentation>Inherent capabilities of an end device (i.e., the functions it supports).</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="communication"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceCapability.communication">
            <xs:annotation>
               <xs:documentation>True if communication function is supported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="connectDisconnect"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceCapability.connectDisconnect">
            <xs:annotation>
               <xs:documentation>True if connect and disconnect function is supported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="electricMetering"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceCapability.electricMetering">
            <xs:annotation>
               <xs:documentation>True if electric metering function is supported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="metrology"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceCapability.metrology">
            <xs:annotation>
               <xs:documentation>True if metrology function is supported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="onRequestRead"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceCapability.onRequestRead">
            <xs:annotation>
               <xs:documentation>True if on request read function is supported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="outageHistory"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceCapability.outageHistory">
            <xs:annotation>
               <xs:documentation>True if outage history function is supported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relaysProgramming"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceCapability.relaysProgramming">
            <xs:annotation>
               <xs:documentation>True if relays programming function is supported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="reverseFlow"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceCapability.reverseFlow">
            <xs:annotation>
               <xs:documentation>True if reverse flow function is supported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="temperatureCompensation"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceCapability.temperatureCompensation">
            <xs:annotation>
               <xs:documentation>True if device performs temperature compensation for metered quantities.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EndDeviceControl"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceControl">
      <xs:annotation>
         <xs:documentation>Instructs an end device (or an end device group) to perform a specified action.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="reason"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceControl.reason">
            <xs:annotation>
               <xs:documentation>Reason for the control action that allows to determine how to continue processing. For example, disconnect meter command may require different processing by the receiving system if it has been issued for a network-related reason (protection) or for a payment-related reason.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EndDeviceAction"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:EndDeviceAction"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceControl.EndDeviceAction">
            <xs:annotation>
               <xs:documentation>End device action issued by this end device control.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EndDeviceControlType"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceControl.EndDeviceControlType">
            <xs:annotation>
               <xs:documentation>Type of this end device control.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EndDeviceEvent"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceEvent">
      <xs:annotation>
         <xs:documentation>Event detected by a device function associated with the end device.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="createdDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.createdDateTime">
            <xs:annotation>
               <xs:documentation>Date and time this activity record has been created (different from the 'status.dateTime', which is the time of a status change of the associated object, if applicable).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
            <xs:annotation>
               <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
            <xs:annotation>
               <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="reason"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.reason">
            <xs:annotation>
               <xs:documentation>Reason for event resulting in this activity record, typically supplied when user initiated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="severity"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.severity">
            <xs:annotation>
               <xs:documentation>Severity level of event resulting in this activity record.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.type">
            <xs:annotation>
               <xs:documentation>Type of event resulting in this activity record.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EndDevice"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:EndDevice"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceEvent.EndDevice">
            <xs:annotation>
               <xs:documentation>End device that reported this end device event.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Status"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.status">
            <xs:annotation>
               <xs:documentation>Information on consequence of event resulting in this activity record.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EndDeviceFunction"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceFunction">
      <xs:annotation>
         <xs:documentation>Function performed by an end device such as a meter, communication equipment, controllers, etc.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
            <xs:annotation>
               <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="enabled"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceFunction.enabled">
            <xs:annotation>
               <xs:documentation>True if the function is enabled.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
            <xs:annotation>
               <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EndDeviceInfo"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceInfo">
      <xs:annotation>
         <xs:documentation>End device data.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="isSolidState"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceInfo.isSolidState">
            <xs:annotation>
               <xs:documentation>If true, this is a solid state end device (as opposed to a mechanical or electromechanical device).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="phaseCount"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:integer"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceInfo.phaseCount">
            <xs:annotation>
               <xs:documentation>Number of potential phases the end device supports, typically 0, 1 or 3.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ratedCurrent"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:CurrentFlow"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceInfo.ratedCurrent">
            <xs:annotation>
               <xs:documentation>Rated current.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ratedVoltage"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Voltage"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceInfo.ratedVoltage">
            <xs:annotation>
               <xs:documentation>Rated voltage.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="capability"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:EndDeviceCapability"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDeviceInfo.capability">
            <xs:annotation>
               <xs:documentation>Inherent capabilities of the device (i.e., the functions it supports).</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Meter" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Meter">
      <xs:annotation>
         <xs:documentation>Physical asset that performs the metering role of the usage point. Used for measuring consumption and detection of events.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:EndDevice">
            <xs:sequence>
               <xs:element name="mRID"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
                  <xs:annotation>
                     <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
                     <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="connectionCategory"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#Meter.connectionCategory">
                  <xs:annotation>
                     <xs:documentation>A code used to specify the connection category, e.g. low voltage, where the meter operates.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="description"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
                  <xs:annotation>
                     <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="name"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
                  <xs:annotation>
                     <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="EndDeviceEvents"
                           minOccurs="1"
                           maxOccurs="unbounded"
                           type="m:EndDeviceEvent"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#EndDevice.EndDeviceEvents">
                  <xs:annotation>
                     <xs:documentation>All events reported by this end device.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="status"
                           minOccurs="1"
                           maxOccurs="1"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.status">
                  <xs:annotation>
                     <xs:documentation>Status of this asset.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType sawsdl:modelReference="">
                     <xs:attribute name="ref" type="xs:string" use="required"/>
                     <xs:attribute name="referenceType" type="xs:string" use="optional"/>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Register"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#Register">
      <xs:annotation>
         <xs:documentation>A device that indicates or records units of the commodity or other quantity measured.</xs:documentation>
      </xs:annotation>
      <xs:sequence/>
   </xs:complexType>
   <xs:complexType name="Status" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status">
      <xs:annotation>
         <xs:documentation>Current status information relevant to an entity.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="dateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status.dateTime">
            <xs:annotation>
               <xs:documentation>Date and time for which status 'value' applies.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="reason"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status.reason">
            <xs:annotation>
               <xs:documentation>Reason code or explanation for why an object went to the current status 'value'.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="remark"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status.remark">
            <xs:annotation>
               <xs:documentation>Pertinent information regarding the current 'value', as free form text.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="value"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status.value">
            <xs:annotation>
               <xs:documentation>Status value at 'dateTime'; prior status changes may have been kept in instances of activity records associated with the object to which this status applies.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="PerCent"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#PerCent">
      <xs:annotation>
         <xs:documentation>Percentage on a defined base.   For example, specify as 100 to indicate at the defined base.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:float"/>
   </xs:simpleType>
   <xs:simpleType name="Voltage"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#Voltage">
      <xs:annotation>
         <xs:documentation>Electrical voltage, can be both AC and DC.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:float"/>
   </xs:simpleType>
   <xs:simpleType name="CurrentFlow"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#CurrentFlow">
      <xs:annotation>
         <xs:documentation>Electrical current with sign convention: positive flow is out of the conducting equipment into the connectivity node. Can be both AC and DC.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:float"/>
   </xs:simpleType>
</xs:schema>
