ver0.0.1/Profiles/SCADA_OMS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:m="http://pea.co.th/cim/profile/SCADA_OMS#"
           xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pea.co.th/cim/profile/SCADA_OMS#"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation/>
   <xs:element name="Profile" type="m:Profile"/>
   <xs:complexType name="Profile">
      <xs:sequence>
         <xs:element name="SwitchAction"
                     type="m:SwitchAction"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="SwitchingAction"
                     type="m:SwitchingAction"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="SwitchingEvent"
                     type="m:SwitchingEvent"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="SwitchingOrder"
                     type="m:SwitchingOrder"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="SwitchingPlan"
                     type="m:SwitchingPlan"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Approver"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#Approver">
      <xs:annotation>
         <xs:documentation>Person who accepted/signed or rejected the document.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Person"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Person"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#PersonRole.Person">
            <xs:annotation>
               <xs:documentation>Person having this role.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Author" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Author">
      <xs:annotation>
         <xs:documentation>Person who created document or activity record.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Person"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Person"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#PersonRole.Person">
            <xs:annotation>
               <xs:documentation>Person having this role.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DateTimeInterval"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#DateTimeInterval">
      <xs:annotation>
         <xs:documentation>Interval between two date and time points, where the interval includes the start time but excludes end time.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="end"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#DateTimeInterval.end">
            <xs:annotation>
               <xs:documentation>End date and time of this interval.  The end date and time where the interval is defined up to, but excluded.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="start"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#DateTimeInterval.start">
            <xs:annotation>
               <xs:documentation>Start date and time of this interval.  The start date and time is included in the defined interval.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Issuer" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Issuer">
      <xs:annotation>
         <xs:documentation>Person who issued the document and is responsible for its content.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Person"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Person"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#PersonRole.Person">
            <xs:annotation>
               <xs:documentation>Person having this role.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Location"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#Location">
      <xs:annotation>
         <xs:documentation>The place, scene, or point of something where someone or something has been, is, and/or will be at a given moment in time. It can be defined with one or more position points (coordinates) in a given coordinate system.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="direction"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Location.direction">
            <xs:annotation>
               <xs:documentation>(if applicable) Direction that allows field crews to quickly find a given asset. For a given location, such as a street address, this is the relative direction in which to find the asset. For example, a streetlight may be located at the 'NW' (northwest) corner of the customer's site, or a usage point may be located on the second floor of an apartment building.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="OutagePlan"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#OutagePlan">
      <xs:annotation>
         <xs:documentation>Document containing the definition of planned outages of equipment and/or usage points. It will reference switching plans that are used to execute the planned outage.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="approvedDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#OutagePlan.approvedDateTime">
            <xs:annotation>
               <xs:documentation>The date and time the outage plan was approved</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="cancelledDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#OutagePlan.cancelledDateTime">
            <xs:annotation>
               <xs:documentation>Date and Time the planned outage was canceled.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="purpose"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#OutagePlan.purpose">
            <xs:annotation>
               <xs:documentation>Purpose of  this outage plan, such as whether it is to replace equipment or perform maintenance or repairs or to reconfigure network topology.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="plannedPeriod"
                     minOccurs="1"
                     maxOccurs="1"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#OutagePlan.plannedPeriod">
            <xs:annotation>
               <xs:documentation>planned start and end time of the planned outage.</xs:documentation>
            </xs:annotation>
            <xs:complexType sawsdl:modelReference="">
               <xs:attribute name="ref" type="xs:string" use="required"/>
               <xs:attribute name="referenceType" type="xs:string" use="optional"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Person" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Person">
      <xs:annotation>
         <xs:documentation>General purpose information for name and other information to contact people.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mName"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Person.mName">
            <xs:annotation>
               <xs:documentation>Middle name(s) or initial(s).</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="PhaseCode"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#PhaseCode">
      <xs:annotation>
         <xs:documentation>An unordered enumeration of phase identifiers.  Allows designation of phases for both transmission and distribution equipment, circuits and loads.   The enumeration, by itself, does not describe how the phases are connected together or connected to ground.  Ground is not explicitly denoted as a phase.</xs:documentation>
         <xs:documentation>Residential and small commercial loads are often served from single-phase, or split-phase, secondary circuits. For the example of s12N, phases 1 and 2 refer to hot wires that are 180 degrees out of phase, while N refers to the neutral wire. Through single-phase transformer connections, these secondary circuits may be served from one or two of the primary phases A, B, and C. For three-phase loads, use the A, B, C phase codes instead of s12N.</xs:documentation>
         <xs:documentation>The integer values are from IEC 61968-9 to support revenue metering applications.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="A">
            <xs:annotation>
               <xs:documentation>Phase A.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="AB">
            <xs:annotation>
               <xs:documentation>Phases A and B.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ABC">
            <xs:annotation>
               <xs:documentation>Phases A, B, and C.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ABCN">
            <xs:annotation>
               <xs:documentation>Phases A, B, C, and N.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ABN">
            <xs:annotation>
               <xs:documentation>Phases A, B, and neutral.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="AC">
            <xs:annotation>
               <xs:documentation>Phases A and C.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ACN">
            <xs:annotation>
               <xs:documentation>Phases A, C and neutral.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="AN">
            <xs:annotation>
               <xs:documentation>Phases A and neutral.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="B">
            <xs:annotation>
               <xs:documentation>Phase B.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BC">
            <xs:annotation>
               <xs:documentation>Phases B and C.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BCN">
            <xs:annotation>
               <xs:documentation>Phases B, C, and neutral.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BN">
            <xs:annotation>
               <xs:documentation>Phases B and neutral.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="C">
            <xs:annotation>
               <xs:documentation>Phase C.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="CN">
            <xs:annotation>
               <xs:documentation>Phases C and neutral.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="Status" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status">
      <xs:annotation>
         <xs:documentation>Current status information relevant to an entity.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="dateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status.dateTime">
            <xs:annotation>
               <xs:documentation>Date and time for which status 'value' applies.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="reason"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status.reason">
            <xs:annotation>
               <xs:documentation>Reason code or explanation for why an object went to the current status 'value'.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="remark"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status.remark">
            <xs:annotation>
               <xs:documentation>Pertinent information regarding the current 'value', as free form text.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="value"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status.value">
            <xs:annotation>
               <xs:documentation>Status value at 'dateTime'; prior status changes may have been kept in instances of activity records associated with the object to which this status applies.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Switch" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Switch">
      <xs:annotation>
         <xs:documentation>A generic device designed to close, or open, or both, one or more electric circuits.  All switches are two terminal devices including grounding switches. The ACDCTerminal.connected at the two sides of the switch shall not be considered for assessing switch connectivity, i.e. only Switch.open, .normalOpen and .locked are relevant.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="normalOpen"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Switch.normalOpen">
            <xs:annotation>
               <xs:documentation>The attribute is used in cases when no Measurement for the status value is present. If the Switch has a status measurement the Discrete.normalValue is expected to match with the Switch.normalOpen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="open"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:boolean"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Switch.open">
            <xs:annotation>
               <xs:documentation>The attribute tells if the switch is considered open when used as input to topology processing.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ratedCurrent"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:CurrentFlow"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Switch.ratedCurrent">
            <xs:annotation>
               <xs:documentation>The maximum continuous current carrying capacity in amps governed by the device material and construction.</xs:documentation>
               <xs:documentation>The attribute shall be a positive value.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="switchOnDate"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Switch.switchOnDate">
            <xs:annotation>
               <xs:documentation>The date and time when the switch was last switched on.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SwitchAction"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchAction">
      <xs:annotation>
         <xs:documentation>Action on switch as a switching step.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:SwitchingAction">
            <xs:sequence>
               <xs:element name="kind"
                           minOccurs="1"
                           maxOccurs="1"
                           type="m:SwitchActionKind"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchAction.kind">
                  <xs:annotation>
                     <xs:documentation>Switching action to perform.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="OperatedSwitch"
                           minOccurs="1"
                           maxOccurs="1"
                           type="m:Switch"
                           sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchAction.OperatedSwitch">
                  <xs:annotation>
                     <xs:documentation>Switch that is the object of this switch action.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="SwitchActionKind"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchActionKind">
      <xs:annotation>
         <xs:documentation>Kind of action on switch.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="close">
            <xs:annotation>
               <xs:documentation>Close the switch.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="disableReclosing">
            <xs:annotation>
               <xs:documentation>Disable (automatic) switch reclosing.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="enableReclosing">
            <xs:annotation>
               <xs:documentation>Enable (automatic) switch reclosing.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="open">
            <xs:annotation>
               <xs:documentation>Open the switch.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="SwitchingAction"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingAction">
      <xs:annotation>
         <xs:documentation>Atomic switching action.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="executedDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingAction.executedDateTime">
            <xs:annotation>
               <xs:documentation>Actual date and time of this switching step.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="issuedDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingAction.issuedDateTime">
            <xs:annotation>
               <xs:documentation>Date and time when the crew was given the instruction to execute the action; not applicable if the action is performed by operator remote control.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="phases"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:PhaseCode"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingAction.phases">
            <xs:annotation>
               <xs:documentation>Phases of the Switching Action</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="plannedDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingAction.plannedDateTime">
            <xs:annotation>
               <xs:documentation>Planned date and time of this switching step.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SwitchingEvent"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:SwitchingEvent"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingAction.SwitchingEvent">
            <xs:annotation>
               <xs:documentation>The switching event that the switching action is performed on</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SwitchingStep"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:SwitchingStep"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingAction.SwitchingStep">
            <xs:annotation>
               <xs:documentation>The switching step that is associated to the switching action.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SwitchingEvent"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingEvent">
      <xs:annotation>
         <xs:documentation>Event indicating the completion (success or fail) of any switching action (jumper action, cut action, tag action, etc).  The switching action may or may not be a consequential event in response to a request to complete the action.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="createdDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.createdDateTime">
            <xs:annotation>
               <xs:documentation>Date and time this activity record has been created (different from the 'status.dateTime', which is the time of a status change of the associated object, if applicable).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="reason"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.reason">
            <xs:annotation>
               <xs:documentation>Reason for event resulting in this activity record, typically supplied when user initiated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="severity"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.severity">
            <xs:annotation>
               <xs:documentation>Severity level of event resulting in this activity record.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.type">
            <xs:annotation>
               <xs:documentation>Type of event resulting in this activity record.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SwitchingOrder"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingOrder">
      <xs:annotation>
         <xs:documentation>Transmits a switching plan to a crew in order for the plan to be executed.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="mRID"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
            <xs:annotation>
               <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
               <xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="authorName"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.authorName">
            <xs:annotation>
               <xs:documentation>Name of the author of this document.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="comment"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingOrder.comment">
            <xs:annotation>
               <xs:documentation>Free-form comment associated with the switching order.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="createdDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.createdDateTime">
            <xs:annotation>
               <xs:documentation>Date and time that this document was created.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
            <xs:annotation>
               <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="lastModifiedDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.lastModifiedDateTime">
            <xs:annotation>
               <xs:documentation>Date and time this document was last modified. Documents may potentially be modified many times during their lifetime.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="revisionNumber"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.revisionNumber">
            <xs:annotation>
               <xs:documentation>Revision number for this document.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="title"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.title">
            <xs:annotation>
               <xs:documentation>Document title.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Approver"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Approver"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.Approver">
            <xs:annotation>
               <xs:documentation>Approver of this document.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Author"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Author"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.Author">
            <xs:annotation>
               <xs:documentation>Author of this document.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="docStatus"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Status"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.docStatus">
            <xs:annotation>
               <xs:documentation>Status of this document. For status of subject matter this document represents (e.g., Agreement, Work), use 'status' attribute.</xs:documentation>
               <xs:documentation>Example values for 'docStatus.status' are draft, approved, cancelled, etc.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Issuer"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Issuer"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.Issuer">
            <xs:annotation>
               <xs:documentation>Issuer of this document.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Location"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:Location"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingOrder.Location">
            <xs:annotation>
               <xs:documentation>Location of this switching order.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="plannedExecutionInterval"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:DateTimeInterval"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingOrder.plannedExecutionInterval">
            <xs:annotation>
               <xs:documentation>The planned start and end time for the switching order.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="status"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Status"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.status">
            <xs:annotation>
               <xs:documentation>Status of subject matter (e.g., Agreement, Work) this document represents. For status of the document itself, use 'docStatus' attribute.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SwitchingPlan"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:SwitchingPlan"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingOrder.SwitchingPlan">
            <xs:annotation>
               <xs:documentation>The switching plan that is defined in the switching order.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SwitchingPlan"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingPlan">
      <xs:annotation>
         <xs:documentation>A sequence of grouped or atomic steps intended to:</xs:documentation>
         <xs:documentation>- de-energise equipment or part of the network for safe work, and/or</xs:documentation>
         <xs:documentation>- bring back in service previously de-energised equipment or part of the network.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="approvedDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingPlan.approvedDateTime">
            <xs:annotation>
               <xs:documentation>The date and time the switching plan was approved</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="cancelledDateTime"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:dateTime"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingPlan.cancelledDateTime">
            <xs:annotation>
               <xs:documentation>Date and Time the switching plan was cancelled.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="purpose"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingPlan.purpose">
            <xs:annotation>
               <xs:documentation>Purpose of  this plan, such as whether it is to move the state from normal to some abnormal condition, or to restore the normal state after an abnormal condition, or to perform some kind of optimisation such as correction of overload, voltage control, etc.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="OutagePlan"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:OutagePlan"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingPlan.OutagePlan">
            <xs:annotation>
               <xs:documentation>The outage plan for which the switching plan is defined.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="plannedPeriod"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:DateTimeInterval"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingPlan.plannedPeriod">
            <xs:annotation>
               <xs:documentation>the planned start and end times for the switching plan.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SwitchingAction"
                     minOccurs="1"
                     maxOccurs="unbounded"
                     type="m:SwitchingAction"
                     sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingPlan.SwitchingAction">
            <xs:annotation>
               <xs:documentation>The switching actions that are associated with the switching plan.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SwitchingStep"
                   sawsdl:modelReference="http://iec.ch/TC57/CIM100#SwitchingStep">
      <xs:annotation>
         <xs:documentation>Atomic switching step; can be part of a switching step group, or part of a switching plan.</xs:documentation>
      </xs:annotation>
      <xs:sequence/>
   </xs:complexType>
   <xs:simpleType name="CurrentFlow"
                  sawsdl:modelReference="http://iec.ch/TC57/CIM100#CurrentFlow">
      <xs:annotation>
         <xs:documentation>Electrical current with sign convention: positive flow is out of the conducting equipment into the connectivity node. Can be both AC and DC.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:float"/>
   </xs:simpleType>
</xs:schema>
